<!DOCTYPE html>
{% extends 'skins/skin.html' %}
{% load static %}
<html lang="nl" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My account</title>
</head>

<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
{% block main_content %}
    <body>
    <div class="content">
        <nav class="mb-2" aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a class="text-info"
                                               href="{% url 'printproject_dashboard' 0 %}">Dashboard {{ user.company }}</a>
                </li>
                <li class="breadcrumb-item active">Bedrijfsaccount </li>
            </ol>
        </nav>
        <div class="mb-9">
            <div class="row align-items-center justify-content-between g-3 mb-4">
                <div class="col-auto">
                    <h2 class="mb-0 text-info">Bedrijfsaccount</h2>
                </div>
            </div>
        </div>
    
        <!-- ===============================================-->
        <!--    Account details-->
        <!-- ===============================================-->

        {% include 'members/includes/account_details.html' %}
            <!-- ===============================================-->
        <!--    End Account details-->
        <!-- ===============================================-->
    
    
        <!-- ===============================================-->
        <!--    Membercontact Table-->
        <!-- ===============================================-->
        {% include 'members/membercontact_table.html' %}
        <!-- ===============================================-->
        <!--    End Membercontact Table-->
        <!-- ===============================================-->
    
    </div>
    </body>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->
{% endblock %}