{% extends 'skins/skin_open.html' %}
{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block main_content %}
    <!-- begin:: Content -->
    <div class="content">
        <section class="bg-white pb-8" id="signout-header">
            <div class="container-small hero-header-container px-lg-7 px-xxl-3">
                <div class="row">
                    <div class="row">
                        <div class="col-lg-6">
                            <strong>Weet je zeker dat je wilt uitloggen
                                bij {{ user.company }}? </strong><br><br>
                            <form method="post" action="{% url 'account_logout' %}">
                                {% csrf_token %}
                                {% if redirect_field_value %}
                                    <input type="hidden" name="{{ redirect_field_name }}"
                                           value="{{ redirect_field_value }}"/>
                                {% endif %}

                                <button type="submit" class="btn btn-warning btn-lg me-1 mb-1">
                                    Uitloggen
                                </button>


                            <a type="button"  href="{% url 'welcome' %}" class="btn btn-info btn-lg me-1 mb-1" }>
                                <span class="far fa-caret-square-left"></span> &nbsp Home
                            </a>

                    </form> </div>
                        <div class="col-sm">
                            <div class="kt-error404-v1__image">
                                <img src='{% static 'assets/img/spot-illustrations/3.png' %}'
                                     class="img-fluid" alt=""/>
                            </div>
                        </div>
                    </div></div></div>
        </section>
    </div>

    <!-- end:: Content -->
{% endblock %}
