{% extends 'skins/skin_open.html' %}
{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block main_content %}
    <!-- begin:: Content -->
    <div class="content">
        <div class="mb-2">
            <div class="row align-items-center justify-content-between g-3 mb-1">
                <div class="col-auto">
                    <h2 class="mb-0 text-info">Uitloggen bij {{ user.company }}</h2><br>
                </div>
            </div>
        </div>
        <hr class="text-info">
        <br>
        <section class="bg-white pb-8" id="signout-header">
            <div class="col-lg-11"></div>
            <h2 class="text-info align-center text-center">
                <strong>Weet je zeker dat je wilt uitloggen? </strong></h2><br>

            <div class="container-small hero-header-container px-lg-7 px-xxl-3 bg-info-100">
                <div class="row">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-3 text-center">
                    <hr class="text-info">
                        <form method="post" action="{% url 'account_logout' %}">
                            {% csrf_token %}
                            {% if redirect_field_value %}
                                <input type="hidden" name="{{ redirect_field_name }}"
                                       value="{{ redirect_field_value }}"/>
                            {% endif %}
                        <div class="btn-group">
                             <button href="{% url 'welcome' %}" class="btn btn-info btn-lg me-1 mb-2">
                                <span class="far fa-arrow-alt-circle-left"></span> &nbsp Terug
                            </button>
                            <button type="submit" class="btn btn-danger btn-lg me-1 mb-2">
                                <span class="far fa-window-close"></span> &nbsp Uitloggen
                            </button>
                        </div>
                        <hr class="text-info">
                        </form>
                    </div>
                 <div class="col-lg-1"></div>
                    <div class="col-6">
                        <div class="container-fluid">
                            <img src='{% static 'assets/img/spot-illustrations/log_out.jpg' %}'
                                 class="img-fluid" alt=""/>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- end:: Content -->
{% endblock %}
