<!DOCTYPE html>
{% extends 'skins/skin_members.html' %}
{% load static %}
{% load l10n %}
{% block main_content %}


    <head>
        <meta charset="UTF-8">
        <title>Mijn persoonlijk account</title>
    </head>
    {% localize on %}
    {% endlocalize on %}

    <!-- begin:: Content -->
    <div class="kt-content kt-grid__item kt-grid__item--fluid">
        <div class="kt-portlet kt-portlet--height-fluid">

            <div class="kt-content kt-grid__item kt-grid__item--fluid" id="kt_content">


                <div class="kt-portlet kt-portlet--mobile">
                    <div class="kt-portlet__head">
                        <div class="kt-portlet__head-label">
                            <h2 class="kt-portlet__head-title">
                                Persoonlijk account als medewerker van {{ user.bedrijfsnaam }} aanpassen</h2>
                        </div>
                    </div>
                </div>
            </div>


            <div class="kt-content kt-grid__item kt-grid__item--fluid" id="kt_content">
                <div class="kt-portlet kt-portlet--mobile">
                    <div class="kt-portlet__head">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                                <a href="{% url 'account_change_password' %}"
                                   role="button" class="btn btn-dark">Mijn wachtwoord veranderen</a>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>


            <!--begin::Form-->
            <div class="kt-portlet kt-portlet--height-fluid">

                <div class="kt-content kt-grid__item kt-grid__item--fluid" id="kt_content">
                    <div class="kt-portlet kt-portlet--mobile">
                        <div class="kt-portlet__body">

                            <form class="kt-form kt-form--fit kt-form--label-right" method="post">
                                {% csrf_token %}


                                <div class="kt-portlet__body">
                                    <div class="kt-portlet__head-label">
                                        <h5 class="kt-portlet__head-title">
                                            Account:
                                        </h5>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label">
                                            Voornaam:</label>
                                        <div class="col-lg-3">
                                            <p>{{ form.first_name }}</p>
                                            <span class="form-text text-muted">aanpassen</span>
                                        </div>
                                        <label class="col-lg-2 col-form-label">
                                            Achternaam:</label>
                                        <div class="col-lg-3 ">
                                            <p>{{ form.last_name }}</p>
                                            <span class="form-text text-muted">aanpassen</span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label">
                                            Functie:</label>
                                        <div class="col-lg-3">
                                            <p>{{ form.functie }}</p>
                                            <span class="form-text text-muted">Wijzig functie</span>
                                        </div>
                                    </div>
                                    <div class="kt-portlet__head-label">
                                        <h5 class="kt-portlet__head-title">
                                            Contactgegevens:
                                        </h5>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label">
                                            Email:</label>
                                        <div class="col-lg-3">
                                            <p>{{ form.email }}</p>
                                            <span class="form-text text-muted">Email wijzigen</span>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-lg-2 col-form-label">
                                            Direct telefoonummer:</label>
                                        <div class="col-lg-3">
                                            <p>{{ form.algemeen_telefoonnummer }}</p>
                                            <span class="form-text text-muted">Wijzig direct telefoonnummer</span>
                                        </div>
                                        <label class="col-lg-2 col-form-label">
                                            Mobiel telefoonummer:</label>
                                        <div class="col-lg-3">
                                            <p>{{ form.mobiel_telefoonnummer }}</p>
                                            <span class="form-text text-muted">Wijzig direct telefoonnummer</span>
                                        </div>
                                    </div>

                                    <div class="kt-portlet__foot">
                                        <div class="kt-form__actions">
                                            <div class="row">
                                                <div class="col-lg-2"></div>
                                                <div class="col-lg-10">
                                                    <button type="submit" value="Update"
                                                            class="btn btn-success">
                                                        Wijzigen
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <!--end::Form-->
                        </div>
                        <!--end::Portlet-->
                    </div>
                </div>
            </div>
            <!-- end:: Content -->
        </div>
    </div>

{% endblock %}