{% extends "skins/skin_open.html" %}
{% load account %}
{% load static %}
{% load i18n %}
<html lang="nl" dir="ltr">

{% block head_title %}Wachtwoord reset verzonden{% endblock %}

{% block main_content %}
    <!-- begin:: Content -->
    <div class="kt-content kt-grid__item kt-grid__item--fluid" id="kt_content">
        <div class="row">
            <div class="col-lg-12">
                <!--begin::Portlet -->
                <div class="kt-portlet" data-ktportlet="true" id="kt_portlet_tools_2">
                    <div class="kt-portlet__head">
                        <div class="kt-portlet__head-label">
                            <div class="kt-portlet__head-title kt-font-dark">
                                Nieuw wachtwoord verstuurd
                                <small>
                                    {% if user.is_authenticated %}
                                        {% include "account/parts/already_logged_in.html" %}
                                    {% endif %}
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm">
                                <div class="kt-error404-v1">
                                    <div class="kt-error404-v1__title">
                                        <h1><br><i class="fa fa-chart-line"></i><br></h1>
                                        <br>
                                        <strong>Check je mailbox!</strong><br>
                                        <p>We hebben je een e-mail verstuurd.
                                            Neem a.u.b. contact met ons op als je deze niet binnen enkele minuten
                                            ontvangen hebt.</p> <br><br>

                                        <br><br>
                                        <small><strong>Mail niet ontvangen? </strong>&nbsp;
                                            Kijk eerst in je spambox en neem daarna contact op.</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="kt-error404-v1__image">
                                    <img src='{% static 'assets/media/misc/404-bg1.jpg' %}'
                                         class="img-fluid"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end:: Content -->
{% endblock %}










