{% extends "skins/skin_open.html" %}

{% load account %}
{% load static %}
{% load i18n allauth account %}

{% block head_title %}Nieuw wachtwoord aanvragen{% endblock %}

{% block main_content %}
    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
        <div class="container bg-info-100">
            <div class="row flex-center min-vh-100 py-0">
                <div class="col-sm-10 col-md-8 col-lg-5 co5l-xxl-4">
                    <a class="d-flex flex-center text-decoration-none mb-4" href="https://www.printdataplatform.nl/"
                        target=”_blank”>
                    <div class="d-flex align-items-center fw-bolder fs-3 d-inline-block"><img
                            src="{% static "assets/img/account/PasswordReset.jpg" %}" alt="PrintDataPlatform"
                            width=600"/>
                    </div>
                </a><br>
                    <div class="px-xxl-5">
                        <div class="text-center mb-6">
                            <h2 class="text-body-highlight">Wachtwoord vergeten?</h2>
                            <p class="text-body-tertiary mb-0">Vul je emailadres in en we sturen <br class="d-sm-none"/>je
                                een reset link</p>
                            {% url 'account_reset_password' as reset_url %}
                            
                            <form method="POST" action="{% url 'account_reset_password' %}"
                                  class="password_reset ">
                                {% csrf_token %}
                                {{ form.errors }}
                                <label class="form-label" for="email">
                                <input class="form-control flex-1" id="email" type="email" placeholder="Email" {{ form.email }} 
                                    </label>
                                <br> <br>
                                <div class="form-actions">
                                    <input type="submit" value="Herstel mijn wachtwoord" class="btn btn-warning"/>
                                </div>
                            </form>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->
{% endblock %}
