{% extends "skins/skin_open.html" %}
{% load static %}
{% load i18n %}
{% load account %}
<html lang="nl" dir="ltr">

{% block head_title %}Uw wachtwoord is gewijzigd{% endblock %}
{% block main_content %}
    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
        <div class="container bg-info-100">
            <div class="row flex-center min-vh-100 py-0">
                <div class="col-sm-10 col-md-8 col-lg-5 co5l-xxl-4">
                    <a class="d-flex flex-center text-decoration-none mb-4" href="https://www.printdataplatform.nl/"
                       target=”_blank”>
                        <div class="d-flex align-items-center fw-bolder fs-3 d-inline-block"><img
                                src="{% static "assets/img/account/ContinueOnPrintDataPlatform.jpg" %}"
                                alt="PrintDataPlatform"
                                width=600"/>
                        </div>
                    </a><br>
                    <div class="px-xxl-5">
                        <div class="text-center mb-6">
                            <h2 class="text-body-highlight text-info"> Uw wachtwoord is gewijzigd</h2>
                            <h4 class="text-body">Je kunt weer verder op het PrintDataPlatform</h4>
                            <br>
                            <a class="btn btn-info btn-lg align-center" href="{% url 'account_login' %}">inloggen </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->
{% endblock %}