{% extends "skins/skin_open.html" %}
{% load static %}
{% load i18n %}
{% load account %}
<html lang="nl" dir="ltr">

{% block head_title %}{% trans "Change Password" %}{% endblock %}


{% block main_content %}
    <!-- begin:: Content -->
    <!-- begin:: Content -->
    <div class="content">
        <section class="bg-white pb-8" id="email_confirmation">
            <div class="container-small hero-header-container px-lg-7 px-xxl-3">
                <div class="row">
                    <div class="col-lg-12">
                      <!--begin::Portlet -->
                       
                            <div class="h3 font-weight-medium">
                        Wachtwoord wijzigen
                        <small>
                            {% if user.is_authenticated %}
                                {% include "account/parts/already_logged_in.html" %}
                            {% endif %}
                        </small>
                    </div>
                </div>
            </div>
            </div>
            
            
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <div class="kt-error404-v1">
                            <div class="kt-error404-v1__title">
                                <h5 class="card-title">
                                    {% trans "Change Password" %}
                                </h5>

                                <form method="POST" class="password_change ">
                                    {% csrf_token %}
                                    {{ form.errors }}

                                    <div class="row">
                                        <label>
                                            <input class="form-control" type="password"
                                                   placeholder="Nieuw wachtwoord"
                                                   name="oldpassword"
                                                   autocomplete="off">

                                        </label></div>
                                    <div class="row">
                                        <label>
                                            <input class="form-control" type="password"
                                                   placeholder="Nieuw wachtwoord"
                                                   name="password1"
                                                   autocomplete="off">

                                        </label></div>
                                    <div class="row">
                                        <label>
                                            <input class="form-control" type="password"
                                                   placeholder="Nieuw wachtwoord (bevestigen)"
                                                   name="password2"
                                                   autocomplete="off">

                                        </label></div>
                                    
                                    <div class="form-actions">
                                        <button type="submit" name="action" class="btn btn-primary">
                                            Wachtwoord wijzigen
                                        </button>
                                    </div>

                                    {{ form.massages }}

                                    <div class="col-sm">
                                        
                                            <img src='{% static 'assets\img\account\change_password.jpg' %}'
                                                 class="img-fluid" size="50%" alt=""/>
                                        </div>
                                                            <div class="col-sm">
                                                            </div>
                                 
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>>
{% endblock %}
</div>

