{% extends "skins/skin_open.html" %}
{% load account %}
{% load static %}
{% load i18n %}
<html lang="nl" dir="ltr">

{% block head_title %}Wachtwoord reset verzonden{% endblock %}

{% block main_content %}
    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
        <div class="container bg-info-100">
            <div class="row flex-center min-vh-100 py-0">
                <div class="col-sm-10 col-md-8 col-lg-5 co5l-xxl-4">
                    <a class="d-flex flex-center text-decoration-none mb-4" href="https://www.printdataplatform.nl/"
                        target=”_blank”>
                    <div class="d-flex align-items-center fw-bolder fs-3 d-inline-block"><img
                            src="{% static "assets/img/account/CheckMail.jpg" %}" alt="PrintDataPlatform"
                            width=600"/>
                    </div>
                </a><br>
                    <div class="px-xxl-5">
                        <div class="text-center mb-6">
                            <h2 class="text-body-highlight">Check je mailbox!</h2>
                            <p class="text-body-tertiary mb-0">We hebben je een e-mail verstuurd.
                                            Neem a.u.b. contact met ons op als je deze niet binnen enkele minuten
                                            ontvangen hebt.</p>
                                 <br> 
                            <p class="text-body-tertiary mb-0"><strong>Mail niet ontvangen? </strong><br>
                                            Kijk eerst in je spambox en neem daarna contact op.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->
    <!-- end:: Content --><br>
{% endblock %}










