{% extends "skins/skin_open.html" %}
{% load account %}
{% load static %}
{% load i18n %}
<html lang="nl" dir="ltr">
{% block head_title %}Wachtwoord wijzigen{% endblock %}
{% block main_content %}
    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
        <div class="container bg-info-100">
            <div class="row flex-center min-vh-100 py-0">
                <div class="col-sm-10 col-md-8 col-lg-5 co5l-xxl-4">
                    <a class="d-flex flex-center text-decoration-none mb-4" href="https://www.printdataplatform.nl/"
                        target=”_blank”>
                    <div class="d-flex align-items-center fw-bolder fs-3 d-inline-block"><img
                            src="{% static "assets/img/account/NewPassword.jpg" %}" alt="PrintDataPlatform"
                            width=500"/>
                    </div>
                </a><br>
                    <div class="px-xxl-5">
                        <div class="text-center mb-6">
                            <h2 class="text-body-highlight">Wachtwoord wijzigen</h2>
                            <small>
                                    {% if user.is_authenticated %}
                                        {% include "account/parts/already_logged_in.html" %}
                                    {% endif %}
                            </small>
                        
                            <br><br>
                                        {% if token_fail %}
                                             {% url 'account_reset_password' as passwd_reset_url %}
                                            <h1><br><i class="flaticon2-attention kt-font-warning"></i><br></h1>
                                            <strong>Oeps!<br></strong>
                                            <p>De link voor het opnieuw instellen van het wachtwoord is ongeldig. <br>
                                                Mogelijk omdat de link eerder al gebruikt is en nu verlopen. <br><br>
                                                Vraag hier een nieuwe
                                                <a class="kt-font-warning " href="{{ passwd_reset_url }}">link</a> aan.
                                                .</p>
                                        {% else %}
                                            {% if form %}
                            <form class='col-lg-9' method="POST" action="{{ action_url }}">
                                                    {% csrf_token %}

                                                    <label>
                                                        <input class="form-control" type="password"
                                                               placeholder="Nieuw wachtwoord"
                                                               name="password1"
                                                               autocomplete="off">

                                                    </label>
                                                    <label>
                                                        <input class="form-control" type="password"
                                                               placeholder="Nieuw wachtwoord (bevestigen)"
                                                               name="password2"
                                                               autocomplete="off">

                                                    </label>
                                                    <br>
                                                    <input type="submit" name="action"
                                                           value="Wijzig wachtwoord"
                                                           class="btn btn-primary"/>
                                                </form>
                                            {% else %}
                                                <p>Je wachtwoord is aangepast %}</p>
                                            {% endif %}
                                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->
    <!-- end:: Content --><br>



{% endblock %}
