<!DOCTYPE html>
{% extends 'skins/skin_open.html' %}
{% load static %}
<html lang="nl" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SignUp</title>
</head>


{% block main_content %}
    <!-- ===============================================-->
    <!--    Main Content heading-->
    <!-- ===============================================-->
    <div class="content">
        <div class="container mb-0" id="signup-header" style="background-color:whitesmoke;">
            <nav class="mb-0" aria-label="breadcrumb">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a class="text-info"
                                                   target="_blank" href="https://www.printdataplatform.nl/">Info</a>
                    </li>
                    <li class="breadcrumb-item active">Aanmelden op {{ site_name }}</li>
                </ol>
            </nav>
            <hr class="text-info">
            <h2 class="mb-4 text-info">Gratis aanmelden op het {{ site_name }}</h2>
            <hr class="text-info">
            {% include 'members/includes/sign_up_card.html' %}


            <!-- ===============================================-->
            <!--    End Header-->
            <!-- ===============================================-->
            <!-- ===============================================-->
            <!--    Main Content signup form-->
            <!-- ===============================================-->

            <form method="post">  {% csrf_token %}

                <!-- ===============================================-->
                <!--   Row username / email -->
                <!-- ===============================================-->
                <hr class="text-info">
                <div class="row">
                    <h4 class="mb-3 text-info">Nieuw account</h4>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="form-label" for="username">Gebruikersnaam:</label>
                        <p>{{ form.username }}</p>
                        <span class="form-text text-muted">{{ form.username.help_text }}</span>
                    </div>

                    <div class="col-md-4">
                        <label class="form-label" for="email">Email:</label>
                        <p>{{ form.email }}</p>
                        <span class="form-text text-muted">{{ form.email.help_text }}</span>
                    </div>
                </div>
                <!-- ===============================================-->
                <!--  Password  / password2 -->
                <!-- ===============================================-->
                <div class="row g-3">
                    <div class="col-md-4">
                        <label class="form-label" for="password1">Kies je wachtwoord:</label>
                        <p>{{ form.password1 }} {{ form.password1.errors }}</p>
                        <span class="form-text text-muted">{{ form.password1.help_text }}</span>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label" for="password2">Herhaal je wachtwoord:</label>
                        <p>{{ form.password2 }} {{ form.password2.errors }}</p>
                        <span class="form-text text-muted">{{ form.password2.help_text }}</span>
                    </div>
                    <!-- ===============================================-->
                    <!--  Personal -->
                    <!-- ===============================================-->
                    <hr class="text-info">
                    <div class="row">
                        <h4 class="mb-3 text-info">Persoonlijk</h4>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label class="form-label" for="gender">Aanhef</label>
                            <select class="form-select" id="gender" name="gender">
                                {% for i in genders %}
                                    <option value={{ i.value }}>{{ i.text }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <label class="form-label" for="first_name">Voornaam:</label>
                            <p>{{ form.first_name }}</p>
                            <span class="form-text text-muted">{{ form.first_name.help_text }}</span>
                        </div>
                        <div class="col-md-4">
                            <label class="form-label" for="last_name">Achternaam:</label>
                            <p>{{ form.last_name }}</p>
                            <span class="form-text text-muted">{{ form.last_name.help_text }}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label class="form-label" for="jobtitle">Functie:</label>
                            <p>{{ form.jobtitle }}</p>
                            <span class="form-text text-muted">{{ form.jobtitle.help_text }}</span>
                        </div>
                        <div class="col-md-4">
                            <label class="form-label" for="mobile_number">Persoonlijk mobiel nummer:</label>
                            <p>{{ form.mobile_number }}</p>
                            <span class="form-text text-muted">{{ form.mobile_number.help_text }}</span>
                        </div>
                    </div>
                    <!-- ===============================================-->
                    <!--  Company   -->
                    <!-- ===============================================-->
                    <hr class="text-info">
                    <div class="row">
                        <h4 class="mb-3 text-info">Organisatie</h4>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <label class="form-label" for="company">naam:</label>
                            <p>{{ form.company }}</p>
                            <span class="form-text text-muted">{{ form.company.help_text }}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label class="form-label" for="e_mail_general">Email algemeen:</label>
                            <p>{{ form.e_mail_general }}</p>
                            <span class="form-text text-muted">{{ form.email_general.help_text }}</span>
                        </div>
                        <div class="col-md-4">
                            <label class="form-label" for="tel_general">Algemeen telefoonnummer:</label>
                            <p>{{ form.tel_general }}</p>
                            <span class="form-text text-muted">{{ form.tel_general.help_text }}</span>
                        </div>
                    </div>

                    <!-- ===============================================-->
                    <!--  Adress -->
                    <!-- ===============================================-->
                    <hr class="text-info">
                    <div class="row">
                        <h4 class="mb-3 text-info">Adres</h4>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <label class="form-label" for="street_number">Straat en huisnummer</label>
                            <p>{{ form.street_number }}</p>
                            <span class="form-text text-muted">{{ form.street_number.help_text }}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label class="form-label" for="postal_code">Postcode</label>
                            <p>{{ form.postal_code }}</p>
                            <span class="form-text text-muted">{{ form.postal_code.help_text }}</span>
                        </div>
                        <div class="col-md-4">
                            <label class="form-label" for="city">Plaats</label>
                            <p>{{ form.city }}</p>
                            <span class="form-text text-muted">{{ form.city.help_text }}</span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6 col-md-4">
                            <label class="form-label" for="country_code">Land </label>
                            <select class="form-select" id="country_code" name="country_code">
                                {% for i in countries %}
                                    <option value="{{ i.country_code }}">{{ i.country }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>


                    <!-- ===============================================-->
                    <!--  Social media -->
                    <!-- ===============================================-->
                    {% include 'members/includes/social_media.html' %}
                    <hr class="text-info">

                    <!-- ===============================================-->
                    <!--  Conditions approved  -->
                    <!-- ===============================================-->
                    <div class="row">
                        <h4 class="mb-0 text-info">Spelregels</h4>
                        <p class="mb-0">Als deelnemer aan het PrintDataPlatform gaat u akkoord met de
                    <a class="mx-1 text-info mb-0" href="{% url 'conditions' %}" target=”_blank”>
                                        spelregels</a></p>
                    </div>
                
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-check">
                                <label class="form-check-label" for="conditions_approved"></label>
                                <p>{{ form.conditions_approved }} Ik ga akkoord met de spelregels</p>
                            </div>
                        </div>
                    </div>
                <hr class="text-info">
                    <!-- ===============================================-->
                    <!--  Conditions approved  -->
                    <!-- ===============================================-->


                    <div class="row">
                        <h4 class="mb-0 text-info">Als producent aanmelden</h4>
                    </div>

                    <div class="row">
                        <div class="col-sm-6 col-md-12">
                            <div class="form-check">
                                <label class="form-check-label" for="producer_application"></label>
                                <p>{{ form.producer_application }} 
                                    Ik wil me als producent aanmelden. Neem contact met me op voor gratis intake
                                </p>
                            </div>
                        </div>
                    </div>

                    <hr class="text-info">

                    <div class="row">
                        <h4 class="mb-1 text-info">Gratis printmanager account</h4>
                    </div>
                    <div class="col-md-12">
                        <button class="btn btn-info" type="submit">Aanvragen</button>
                    </div>
                    <br>

                </div>
                <hr class="text-info">


            </form>
            <br>
            {% include 'messages/form_valid_errormelding.html' %}
        </div>
    </div>
    </html>
    <!-- end:: Content -->
{% endblock %}