{% load l10n %}
<!DOCTYPE html>
<html lang="nl">
<head><title>rfq email</title></head>

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;

    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

</style>
</html>
<body>
<h4>
    Hallo,<br><br>
    Op het PrintDataPlatform heeft {{ offer.requester }} namens {{ member_company }}
    op {{ offer.created |date:'d-m-Y ' }} voor {{ producer.company }} een offerteaanvraag voor {{ printproject.volume }}
    ex. {{ printproject.project_title }} gedaan.<br><br>


    Bekijk en beantwoord de offerteaanvraag op: <a
        href="https://printdataplatform.com/{% url 'offer_producers_form' offer.offer_id %}">Printdatahub.com/offer_producers_form</a>,
    <br>
    Hier kunt u ook uw offertedocument uploaden.
    <br>
    Open de aanvraag met deze unieke toegangscode: {{ offer_key }}
    <br><br>
    Hartelijke groet,<br>
    Richard van Hoorn
    <br>
    <a href="https://printdataplatform.com/">PrintDataPlatform BV</a>
    <br>
    mail: contact@printdataplatform.nl
    <br>
    tel: 06-55962062
</h4>
<br><br>
</body>