<!DOCTYPE html>
{% extends 'skins/skin.html' %}
{% load static %}
<html lang="nl" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Printproject dashboard</title>
</head>

<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
{% block main_content %}

    <body>
    <!-- ===============================================-->
    <!--    Header-->
    <!-- ===============================================-->
    <div class="content">
        <nav class="mb-2" aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a class="text-info"
                                               href="{% url 'welcome' %}">Dashboard {{ user.company }}</a>
                </li>
                <li class="breadcrumb-item active">Aanbiedingen</li>
            </ol>
        </nav>
        <div class="mb-9">
            <div class="row g-3 mb-4">
                <div class="col-auto">
                    <h2 class="mb-0 text-info">Aanbiedingen</h2>
                </div>
            </div>
            <ul class="nav nav-links g-3 mb-4">
                <li class="nav-item"><a class="nav-link px-2 py-1 text-warning"
                                        href="{% url 'producer_offers' 0 %}">Alles <span
                        class="text-700 fw-semi-bold">({{ all_offers }})</span></a></li>
                 <li class="nav-item"><a class="nav-link px-2 py-1 text-info"
                                        href="{% url 'producer_offers' 1 %}">Open <span
                        class="text-700 fw-semi-bold">({{ open_offers }})</span></a></li>
                <li class="nav-item"><a class="nav-link px-2 py-1 text-info"
                                        href="{% url 'producer_offers' 2 %}">Aangeboden <span
                        class="text-700 fw-semi-bold">({{ offered_offers }})</span></a></li>
                <li class="nav-item"><a class="nav-link px-2 py-1 text-info"
                                        href="{% url 'producer_offers' 3 %}">In productie <span
                        class="text-700 fw-semi-bold">({{ prod_offers }})</span></a></li>
                <li class="nav-item"><a class="nav-link px-2 py-1 text-info"
                                        href="{% url 'producer_offers' 4 %}">Afgewezen <span
                        class="text-700 fw-semi-bold">({{ denied_offers }})</span></a></li>
                <li class="nav-item"><a class="nav-link px-2 py-1 text-info"
                                        href="{% url 'producer_offers' 5 %}">Gesloten <span
                        class="text-700 fw-semi-bold">({{ closed_offers }})</span></a></li>
            </ul>
            <!-- ===============================================-->
            <!--  END  Header-->
            <!-- ===============================================-->
            <!-- ===============================================-->
            <!--    Printproject table-->
            <!-- ===============================================-->


                <!-- ===============================================-->
                <!--    Offer Table-->
                <!-- ===============================================-->
                {% include 'producers/tables/offer_table_producers.html' %}
                <!-- ===============================================-->
                <!--    End Offer Table-->
                <!-- ===============================================-->
                <hr>
            </div>
        </div>
    </div>

    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->

    </body>
{% endblock %}

</html>