<!DOCTYPE html>
{% extends 'skins/skin.html' %}
{% load static %}
<html lang="nl" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Producers dashboard</title>
</head>


<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
{% block main_content %}

    <body>
    <!-- ===============================================-->
    <!--    Header-->
    <!-- ===============================================-->
    <div class="content">
        <nav class="mb-2" aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a class="text-info"
                 href="{% url 'welcome' %}">Dashboard {{ user.company }}</a>
                </li>
                <li class="breadcrumb-item active">Producent dashboard</li>
            </ol>
        </nav>
        <div class="mb-9">
            <div class="row g-3 mb-4">
                <div class="col-auto">
                    <h2 class="mb-0 text-info">Producent dashboard</h2>
                </div>
            </div>

            <div id="producerTable"
                 data-list='{"valueNames":["producer","city","status"],"page":20,"pagination":true}'>
                <div class="mb-4">
                    <div class="row g-3">
                        <div class="col-auto">
                            <div class="search-box">
                                <form class="position-relative" data-bs-toggle="search" data-bs-display="static">
                                    <input class="form-control search-input search" type="search"
                                           placeholder="Zoek producent" aria-label="Search"/>
                                    <span class="fas fa-search search-box-icon"></span>
                                </form>
                            </div>
                        </div>
                        <div class="col-auto scrollbar overflow-hidden-y flex-grow-1">
                            <div class="btn-group position-static" role="group">
                                <div class="col-auto">
                                    {% include 'buttons/create_new_producer.html' %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- ===============================================-->
                <!--    Table-->
                <!-- ===============================================-->
                <div class="col-12 rounded-2 border border-info">
                    <div class="card h-100">
                        <div class="card-body">
                            <div class="table-responsive scrollbar mx-n1 px-1">
                                <h3 class="mb-0 text-info">Producenten van {{ user.member.company }}</h3>
                                <table class="table table-sm fs--1 mb-0">
                                    <thead>
                                    <tr>
                                        <th class="sort align-middle text-start pe-3" scope="col" data-sort="producer"
                                            style="width:20%;">Producent
                                        </th>
                                        <th class="sort align-middle text-start pe-3" scope="col" data-sort="city"
                                            style="width:10%; min-width: 100px;">Plaats
                                        </th>
                                        <th class="align-middle text-start pe-3" scope="col"
                                            style="width:10%; min-width: 100px;">Tel
                                        </th>
                                        <th class="align-middle text-start pe-0" scope="col" style="width:20%;">
                                            Website
                                        </th>
                                        <th class="align-middle text-start" scope="col" style="width:5%;">Info</th>
                                        <th class="sort align-middle text-start pe-0" scope="col" data-sort="status"
                                            style="width:10%;">Status
                                        </th>
                                        <th class="align-middle text-end" scope="col" style="width:5%;">Status wijzigen</th>
                                    </tr>
                                    </thead>

                                    <tbody class="list" id="producer-table-body">
                                    {% for producer in producers_list %}
                                        <tr class="hover-actions-trigger btn-reveal-trigger position-static">
                                            <td class="producer align-middle fw-semi-bold text-1000">{{ producer.producer.company }}</td>
                                            <td class="city align-middle fw-semi-bold text-1000">{{ producer.producer.city }}</td>
                                            <td class="align-middle fw-semi-bold text-1000">{{ producer.producer.tel_general }}</td>
                                            <td class="align-middle white-space-nowrap text-900 fs--1 text-start"><a
                                                    href="https://{{ producer.producer.url }}/">{{ producer.producer.url }}</a>
                                            </td>
                                            <td class="align-middle white-space-nowrap task text-info ps-0 py-0"><a
                                                    href="{% url 'producer_details' producer.producer_id %}"
                                                    class="btn btn-outline-info btn-sm me-1 mb-1" role="button"
                                                    aria-pressed="true"><i class="fas fa-info text-info fs-1"></i></a>
                                            </td>
                                            <td class="status align-middle white-space-nowrap text-start fw-bold text-700"><span
                                                    {% if producer.memberproducerstatus_id == 1 %}
                                                        class="badge badge-phoenix fs--2 badge-phoenix-success"><span
                                                            {% elif producer.memberproducerstatus_id == 2 %}
                                                            class="badge badge-phoenix fs--2 badge-phoenix-info"><span
                                                            {% elif producer.memberproducerstatus_id == 3 %}
                                                            class="badge badge-phoenix fs--2 badge-phoenix-danger"><span
                                                            {% elif producer.memberproducerstatus_id == 4 %}
                                                            class="badge badge-phoenix fs--2 badge-phoenix-warning"><
                                                        span
                                                    {% endif %}
                                            class="badge-label">{{ producer.printprojectstatus }}</span><span
                                                    class="ms-1"
                                                    style="height:12.8px;width:12.8px;"></span>{{ producer.memberproducerstatus }}
                                            </span>
                                            </td>
                                            {% include 'buttons/producer_status_actions.html' %}
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="row align-items-center justify-content-between py-2 pe-0 fs--1">
                                <div class="col-auto d-flex">
                                    <p class="mb-0 d-none d-sm-block me-3 fw-semi-bold text-900"
                                       data-list-info="data-list-info"></p><a class="fw-semi-bold" href="#!"
                                                                              data-list-view="*">Toon
                                    alles<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a><a
                                        class="fw-semi-bold d-none" href="#!" data-list-view="less">Toon minder<span
                                        class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a>
                                </div>
                                <div class="col-auto d-flex">
                                    <button class="page-link" data-list-pagination="prev"><span
                                            class="fas fa-chevron-left"></span></button>
                                    <ul class="mb-0 pagination"></ul>
                                    <button class="page-link pe-0" data-list-pagination="next"><span
                                            class="fas fa-chevron-right"></span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->

    </body>
{% endblock %}


</html>