<!DOCTYPE html>
{% extends 'skins/skin.html' %}
{% load static %}
<html lang="nl" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Printproject details</title>
</head>

<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
{% block main_content %}
    <body>
    <!-- ===============================================-->
    <!--    Header-->
    <!-- ===============================================-->
    <div class="content">
    <!-- ===============================================-->
    <!--    Header-->
    <!-- ===============================================-->
        <nav class="mb-0" aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a class="text-info"
                                               href="{% url 'welcome' %}">Dashboard {{ user.company }}</a>
                </li>
                  <li class="breadcrumb-item active">Printproject details</li>
            </ol>
        </nav>
        <div class="mb-4">
            <div class="row g-3 mb-2">
                <div class="col-auto">
                    <h2 class="mb-0 text-info mb-2">Printproject {{ printproject_title }} </h2>
                     {% if printproject.printprojectstatus_id == 1 %}
                    <h4> Kies leveranciers en verstuur offerteaanvragen</h4>
                    {% endif %}
                 {% if printproject.printprojectstatus_id == 2 %}
                    <h4> Beoordeel aanbiedingen, plaats opdracht</h4>
                    {% endif %}
                </div>
            </div>
        </div>
            <!-- ===============================================-->
            <!--  END  Header-->
            <!-- ===============================================-->

            <!-- ===============================================-->
        <!--    Client an clientcontact printproject -->
        <!-- ===============================================-->
        {% if printproject.client_id %}
            {% include 'printprojects/tables/client_offer_detailtable.html' %}
             <br>
        {% endif %}
        <!-- ===============================================-->
        <!--    End Client printproject  -->
        <!-- ===============================================-->

            <!-- ===============================================-->
            <!--    Printproject Detail table -->
            <!-- ===============================================-->
            {% include 'printprojects/tables/printproject_detailtable.html' %}
     <br>
            <!-- ===============================================-->
            <!--    End Printproject Detail table -->
            <!-- ===============================================-->
        <!-- ===============================================-->
        <!--    Select suppliers table -->
        <!-- ===============================================-->
        {% if printproject.printprojectstatus_id == 1 %}
            {% include 'printprojects/tables/selectsuppliers_table.html' %}
            <br>
        {% endif %}
        <!-- ===============================================-->
        <!--    End Select suppliers table -->
        <!-- ===============================================-->
                <!-- ===============================================-->
            <!--    Offers table -->
            <!-- ===============================================-->
            {% if printproject.printprojectstatus_id == 2 %}
                    {% include 'offers/offers_table.html' %}
                <br>
            {% endif %}
            <!-- ===============================================-->
            <!--    End Offers table -->
            <!-- ===============================================-->


        <!-- end of .container-->
        <!-- <section> close ============================-->

            {% include 'printprojects/new_project_includes/salesprice_update.html' %}
    </div>
    </body>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->
{% endblock %}