<!DOCTYPE html>
{% extends 'skins/skin.html' %}
{% load static %}
<html lang="nl" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Producer offer details</title>
</head>

<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
{% block main_content %}
    <body>
    <!-- ===============================================-->
    <!--    Header-->
    <!-- ===============================================-->
    <div class="content">
        <!-- ===============================================-->
        <!--   New project details -->
        <!-- ===============================================-->
        <!-- ============================================-->
        <!-- <section> begin ============================-->
        <section class="pt-5 pb-9 bg-white dark__bg-1200 border-top border-300">
            <div class="container-small">
                <!-- ===============================================-->
                <!--    General info-->
                <!-- ===============================================-->
                <div class="d-flex justify-content-between align-items-end mb-4">
                    <h2 class="mb-0 text-info">{{ printproject_title }} 88</h2>
                </div>
                
                <!-- ===============================================-->
                <!--    Printproject Detail table -->
                <!-- ===============================================-->
                {% include 'producers/tables/producer_offer_detailtable.html' %}
                <!-- ===============================================-->
                <!--    Offer Detail table -->
                <!-- ===============================================-->
                <br>
                <!-- ===============================================-->
                <!--    Printproject Detail table -->
                <!-- ===============================================-->
                {% include 'producers/tables/producer_printproject_detailtable.html' %}
                <!-- ===============================================-->
                <!--    End Printproject Detail table -->
                <!-- ===============================================-->
               
               <br>
                {% if offer.offerstatus_id == 2 %}
                              
                    <hr class="text-info">
                     <h4 class="mb-3 text-info">Aanbieding in ms-word download</h4>
                {% include 'buttons/download_clientoffer_large.html' %} 
                    
                {% else %}
                                        <hr class="text-info">
                     <h4 class="mb-3 text-info">Offerte uitbrengen</h4>
                    <a href="{% url 'offer_producers_update' offer.offer_id %}"
                   class="btn btn-success btn-lg" role="button"
                   aria-pressed="true"><i class="fa-solid fa-calculator fs--1 me-2"></i>Offerte uitbrengen</a>
                <hr class="text-info">
                {% endif %}
            
                        <div class="row">
                     
                        <h4 class="mb-1 text-info">PDF Offerte {{ offer.producer.company }}</h4>
                        <div class="col-12 gy-3 ">
                            <div class="row g-3 justify-content-start">
                                <div class="col-auto">
                                    {% include 'buttons/upload_producer_offer_pdf.html' %}
                                </div>
                                 {% if offer.doc_uploaded %}
                                <div class="col-auto">
                                    {% include 'buttons/download_producer_offer_pdf.html' %}
                                </div>
                                     {% endif %}
                            </div>
                        </div>
                           <div class="mb-3"></div>
                    <hr class="text-info">
            </div>
            </div>
        </section>
        <!-- ============================================-->
        <!-- <section> close ============================-->
        <!-- ============================================-->
    </div>
    </body>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->
{% endblock %}