<!DOCTYPE html>
{% extends 'skins/skin.html' %}
{% load static %}
<html lang="nl" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>New Order</title>
</head>


{% block main_content %}
    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <div class="content">
        <div class="container" id="printer_form" style="background-color:whitesmoke;">
            <nav class="mb-2" aria-label="breadcrumb">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a class="text-info"
                                                   href="{% url 'welcome' %}">Dashboard {{ user.company }}</a></li>
                    <li class="breadcrumb-item"><a class="text-info"
                                                   href="{% url 'asset_dashboard' %}">Productiemiddelen</a></li>
                    <li class="breadcrumb-item active">{{ asset_form_title }}</li>
                </ol>
            </nav>
            <hr class="text-info">
            <h2 class="mb-1 text-info">{{ asset_form_title }} {{ asset.asset_name }}</h2>
            <hr class="text-info">
        </div>

        <!-- ===============================================-->
        <!--   New project form-->
        <!-- ===============================================-->


        <form name="update_create_printer_form" method="post" method="post">
            {% csrf_token %}
            <div class="container">
                <!-- ===============================================-->
                <!--   Client title -->
                <!-- ===============================================-->
                <div class="row">
                    <div class="col-sm-6 col-md-6">
                        <h4 class="mb-3 text-info">Algemeen</h4>
                    </div>
                </div>
                <!-- ===============================================-->
                <!--   Row client -->
                <!-- ===============================================-->
                <div class="row">
                    <div class="col-sm-6 col-md-6">
                        <label class="form-label" id="asset_name" for="asset_name">Machinenaam:</label>
                        <p>{{ form.asset_name }}</p>
                    </div>
                    <div class="col-sm-3 col-md-3">
                        <label class="form-label" id="finishingmethod_id" for="finishingmethod_id">Nabewerkingsmethode:
                            {% if update %}
                                {{ asset.finishingmethod }}
                            {% endif %}
                        </label>
                        <select class="form-select" id="finishingmethod_id" name="finishingmethod_id">
                            {% if update %}
                                <option value="{{ asset.finishingmethod_id }}">{{ asset.finishingmethod }}</option>
                            {% endif %}
                            {% for i in brochure_finishingmethods %}
                                <option value="{{ i.finishingmethod_id }}">{{ i.finishingmethod }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-3 col-md-3">
                        <label class="form-label" for="max_speed_hour">Snelheid: Brochures per uur: </label>
                        <p>{{ form.max_speed_hour }}</p>
                    </div>
                    <div class="col-sm-3 col-md-3">
                        <label class="form-label" for="tariff_eur_hour">Machine uurtarief Eur:</label>
                        <p>{{ form.tariff_eur_hour }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 col-md-3">
                        <label class="form-label" for="max_number_stations_max">Maximaal aantal oplegstations:</label>
                        <p>{{ form.max_number_stations_max }}</p>
                    </div>
                    <div class="col-sm-3 col-md-3">
                        <label class="form-label" for="max_number_stations_default">Default aantal
                            oplegstations:</label>
                        <p>{{ form.max_number_stations_default }}</p>
                    </div>
                    <div class="col-sm-3 col-md-3">
                        <label class="form-label" for="speedreduction_extra_station">% Vertraging per extra
                            station:</label>
                        <p>{{ form.speedreduction_extra_station }}</p>
                    </div>
                </div>

                <hr class="text-info">
                <br>
                <div class="row">
                    <div class="col-sm-6 col-md-9">
                        <h4 class="mb-1 text-info">Brocheermachine opties</h4>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <div class="form-check">
                            <label class="form-check-label" for="cover_feeder">Omslag feeder beschikbaar</label>
                            <p>{{ form.cover_feeder }}</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="form-check">
                            <label class="form-check-label" for="added_value">Eigen machine voor toegevoegde
                                waarde</label>
                            <p>{{ form.added_value }}</p>
                        </div>
                    </div>
                </div>


                <hr class="text-info">
                <br>
                <div class="row">
                    <div class="col-sm-6 col-md-6">
                        <h4 class="mb-1 text-info">Brocheermachine formaten</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <label class="form-label" for="max_width_untrimmed_mm">max breedte untrimmed mm: </label>
                        <p>{{ form.max_width_untrimmed_mm }}</p>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <label class="form-label" for="max_height_untrimmed_mm">max hoogte untrimmed mm:</label>
                        <p>{{ form.max_height_untrimmed_mm }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <label class="form-label" for="min_width_untrimmed_mm">min breedte untrimmed mm:</label>
                        <p>{{ form.min_width_untrimmed_mm }}</p>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <label class="form-label" for="min_height_untrimmed_mm">min hoogte untrimmed mm:</label>
                        <p>{{ form.min_height_untrimmed_mm }}</p>
                    </div>
                </div>
                <br>
                <hr class="text-info">

                <div class="row">
                    <div class="col-sm-6 col-md-6">
                        <h4 class="mb-1 text-info">Brocheermachine instellen en productietijden </h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <label class="form-label" for="setup_order_min">Insteltijd per opdacht (minuten):</label>
                        <p>{{ form.setup_order_min }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <label class="form-label" for="setup_time_station_min">Insteltijd per station (minuten):</label>
                        <p>{{ form.setup_time_station_min }}</p>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <label class="form-label" for="setup_time_cover_min">Insteltijd omslag (minuten):</label>
                        <p>{{ form.setup_time_cover_min }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <label class="form-label" for="setup_landscape">Instellen liggend (minuten): </label>
                        <p>{{ form.setup_landscape }}</p>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <label class="form-label" for="setup_square">Instellen vierkant (minuten):</label>
                        <p>{{ form.setup_square }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <label class="form-label" for="speedreduction_landscape">% Vertraging liggend formaat: </label>
                        <p>{{ form.speedreduction_landscape }}</p>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <label class="form-label" for="speedreduction_square">% Vertraging vierkant formaat:</label>
                        <p>{{ form.speedreduction_square }}</p>
                    </div>
                </div>

                <hr class="text-info">
                <div class="row">
                    <div class="col-sm-6 col-md-6">
                        <h4 class="mb-1 text-info">Papier inschiet </h4>
                    </div>
                </div>


                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <label class="form-label" for="paperwaste_perc">% Inschiet tijdens productie: </label>
                        <p>{{ form.paperwaste_perc }}</p>
                    </div>


                </div>
                <br>
                <hr class="text-info">

                <!-- ===============================================-->
                <!--   Row asset submit buttons -->
                <!-- ===============================================-->
                {% include 'buttons/create_update_asset.html' %}


                <hr class="text-info">
            </div>
        </form>
        {% include 'messages/form_valid_errormelding.html' %}
    </div>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->
{% endblock %}