<!DOCTYPE html>
{% extends 'skins/skin.html' %}
{% load static %}
<html lang="nl" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>New Order</title>
</head>


{% block main_content %}
    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <div class="content">
        <div class="container" id="printer_form" style="background-color:whitesmoke;">
            <nav class="mb-2" aria-label="breadcrumb">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a class="text-info"
                                                   href="{% url 'welcome' %}">Dashboard {{ user.company }}</a></li>
                    <li class="breadcrumb-item"><a class="text-info"
                                                   href="{% url 'asset_dashboard' %}">Productiemiddelen</a></li>
                    <li class="breadcrumb-item active">{{ asset_form_title }}</li>
                </ol>
            </nav>
            <hr class="text-info">
            <h2 class="mb-1 text-info">{{ asset_form_title }} {{ asset.asset_name }}</h2>
            <h5 class="mb-3">Instellingen,  * verplichte velden</h5>
            <hr class="text-info">
        </div>

        <!-- ===============================================-->
        <!--   New project form-->
        <!-- ===============================================-->


        <form name="update_create_printer_form" method="post" method="post">
            {% csrf_token %}
            <div class="container">
                <!-- ===============================================-->
                <!--   Client title -->
                <!-- ===============================================-->
                <div class="row">
                    <div class="col-sm-6 col-md-6">
                        <h4 class="mb-3 text-info">Algemeen *</h4>
                    </div>
                </div>
                <!-- ===============================================-->
                <!--   Row client -->
                <!-- ===============================================-->
                <div class="row">
                    <div class="col-sm-6 col-md-6">
                        <label class="form-label" id="asset_name" for="asset_name">Machinenaam:</label>
                        <input class="form-control" type="text" id="asset_name" name="asset_name"
                                {% if update %}
                               value="{{ asset.asset_name }}" {% else %} required
                                {% endif %}
                               placeholder="machinenaam opgeven"/>
                    </div>
                 <div class="col-sm-3 col-md-3">
                        <label class="form-label" id="finishingmethod_id" for="finishingmethod_id">Nabewerkingsmethode:
                         {% if update %}
                            {{ asset.finishingmethod }}
                        {% endif %}
                        </label>
                        <select class="form-select" id="finishingmethod_id" name="finishingmethod_id">
                         {% if update %}
                         <option value="{{ asset.finishingmethod_id }}">{{ asset.finishingmethod }}</option>
                         {% endif %}
                        {% for i in brochure_finishingmethods  %}
                    <option value="{{ i.finishingmethod_id }}">{{ i.finishingmethod }}</option>
                {% endfor %}
                        </select>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-3 col-md-3">
                        <label class="form-label" for="max_speed_hour">Snelheid: Brochures per uur: </label>
                        <input class="form-control" type="number" id="max_speed_hour" name="max_speed_hour"
                                {% if update %}
                               value="{{ asset.max_speed_hour }}"
                                {% endif %} />
                    </div>
                    <div class="col-sm-3 col-md-3">
                    <label class="form-label" for="tariff_eur_hour">Machine uurtarief Eur:</label>
                        <input class="form-control" type="number" step="0.01" id="tariff_eur_hour"
                               name="tariff_eur_hour"
                                {% if update %}
                               value="{{ asset.tariff_eur_hour |floatformat:2 }}"  {% else %} required
                                {% endif %} />

                    </div>
                </div>
                 <div class="row">
                <div class="col-sm-3 col-md-3">
                        <label class="form-label" for="max_number_stations_max">Maximaal aantal oplegstations:</label>
                        <input class="form-control" type="number" id="max_number_stations_max"
                               name="max_number_stations_max"
                                {% if update %}
                               value="{{ asset.max_number_stations_max }}"  {% else %} required
                                {% endif %} />
                    </div>
                     <div class="col-sm-3 col-md-3">
                        <label class="form-label" for="max_number_stations_default">Default aantal oplegstations:</label>
                        <input class="form-control" type="number" id="max_number_stations_default"
                               name="max_number_stations_default"
                                {% if update %}
                               value="{{ asset.max_number_stations_default }}"  {% else %} required
                                {% endif %} />
                    </div>
                 <div class="col-sm-3 col-md-3">
                        <label class="form-label" for="speedreduction_extra_station">% Vertraging per extra station:</label>
                        <input class="form-control" type="number" id="speedreduction_extra_station"
                               name="speedreduction_extra_station"
                                {% if update %}
                               value="{{ asset.speedreduction_extra_station }}"  {% else %} required
                                {% endif %} />
                    </div>
                </div>

                            <hr class="text-info">
                <br>
                <div class="row">
                    <div class="col-sm-6 col-md-9">
                        <h4 class="mb-1 text-info">Brocheermachine opties </h4>
                    </div>
                </div>
                <div class="row">

                    <div class="col-sm-6 col-md-3">
                        <div class="form-check">
                            <input class="form-check-input" id="cover_feeder" name="cover_feeder" type="checkbox"
                                    {% if update and asset.cover_feeder %}  checked="" {% endif %}/>
                            <label class="form-check-label" for="cover_feeder">Omslag feeder beschikbaar</label>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="form-check">
                            <input class="form-check-input" id="added_value" name="added_value" type="checkbox"
                                    {% if update and asset.added_value %}  checked="" {% endif %}/>
                            <label class="form-check-label" for="added_value">Eigen machine voor toegevoegde waarde</label>
                        </div>
                    </div>
                </div>
            <hr class="text-info">
                <br>
            <div class="row">
                    <div class="col-sm-6 col-md-6">
                        <h4 class="mb-1 text-info">Brocheermachine formaten *</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <label class="form-label" for="max_width_untrimmed_mm">max breedte untrimmed mm: </label>
                        <input class="form-control" type="number" id="max_width_untrimmed_mm" name="max_width_untrimmed_mm"
                                {% if update %}
                               value="{{ asset.max_width_untrimmed_mm }}" {% else %} required
                                {% endif %}/>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <label class="form-label" for="max_height_untrimmed_mm">max hoogte untrimmed mm:</label>
                        <input class="form-control" type="number" id="max_height_untrimmed_mm" name="max_height_untrimmed_mm"
                                {% if update %}
                               value="{{ asset.max_height_untrimmed_mm }}" {% else %} required
                                {% endif %}/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <label class="form-label" for="min_width_untrimmed_mm">min breedte untrimmed mm:</label>
                        <input class="form-control" type="number" id="min_width_untrimmed_mm" name="min_width_untrimmed_mm"
                                {% if update %}
                               value="{{ asset.min_width_untrimmed_mm }}" {% else %} required
                                {% endif %}/>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <label class="form-label" for="min_height_untrimmed_mm">min hoogte untrimmed mm:</label>
                        <input class="form-control" type="number" id="min_height_untrimmed_mm" name="min_height_untrimmed_mm"
                                {% if update %}
                               value="{{ asset.min_height_untrimmed_mm }}" {% else %} required
                                {% endif %}/>
                    </div>
                </div>
                <br>
                <hr class="text-info">

                <div class="row">
                    <div class="col-sm-6 col-md-6">
                        <h4 class="mb-1 text-info">Brocheermachine instellen en productietijden </h4>
                    </div>
                </div>
             <div class="row">
                                <div class="col-sm-6 col-md-3">
                                               <label class="form-label" for="setup_order_min">Insteltijd per opdacht (minuten):</label>
                        <input class="form-control" type="number" id="setup_order_min" name="setup_order_min"
                                {% if update %}
                               value="{{ asset.setup_order_min }}"
                                {% endif %} />
                    </div>
             </div>

                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <label class="form-label" for="setup_time_station_min">Insteltijd per station (minuten):</label>
                        <input class="form-control" type="number" id="setup_time_station_min"
                               name="setup_time_station_min"
                                {% if update %}
                               value="{{ asset.setup_time_station_min }}"
                                {% endif %}/>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <label class="form-label" for="setup_time_cover_min">Insteltijd omslag (minuten):</label>
                        <input class="form-control" type="number" id="setup_time_cover_min"
                               name="setup_time_cover_min"
                                {% if update %}
                               value="{{ asset.setup_time_cover_min }}"
                                {% endif %}/>
                    </div>
                </div>
              <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <label class="form-label" for="setup_landscape">Instellen liggend (minuten): </label>
                        <input class="form-control" type="number" id="setup_landscape"
                               name="setup_landscape"
                                {% if update %}
                               value="{{ asset.setup_landscape }}"
                                {% endif %}/>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <label class="form-label" for="setup_square">Instellen vierkant (minuten):</label>
                        <input class="form-control" type="number" id="setup_square"
                               name="setup_square"
                                {% if update %}
                               value="{{ asset.setup_square }}"
                                {% endif %}/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <label class="form-label" for="speedreduction_landscape">% Vertraging liggend formaat: </label>
                        <input class="form-control" type="number" id="speedreduction_landscape"
                               name="speedreduction_landscape"
                                {% if update %}
                               value="{{ asset.speedreduction_landscape }}"
                                {% endif %}/>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <label class="form-label" for="speedreduction_square">% Vertraging vierkant formaat:</label>
                        <input class="form-control" type="number" id="speedreduction_square"
                               name="speedreduction_square"
                                {% if update %}
                               value="{{ asset.speedreduction_square }}"
                                {% endif %}/>
                    </div>
                </div>

                <hr class="text-info">
                <div class="row">
                    <div class="col-sm-6 col-md-6">
                        <h4 class="mb-1 text-info">Papier inschiet </h4>
                    </div>
                </div>


                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <label class="form-label" for="paperwaste_perc">% Inschiet tijdens productie:  </label>
                        <input class="form-control" type="number" id="paperwaste_perc"
                               name="paperwaste_perc"
                                {% if update %}
                               value="{{ asset.paperwaste_perc |floatformat:2 }}"
                                {% endif %}/>
                    </div>


                </div>
                <br>
                <hr class="text-info">

                    <!-- ===============================================-->
                    <!--   Row asset submit buttons -->
                    <!-- ===============================================-->
                    {% include 'buttons/create_update_asset.html' %}


                    <hr class="text-info">
            </div>
        </form>
        {% include 'messages/form_valid_errormelding.html' %}
    </div>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->
{% endblock %}