<!DOCTYPE html>
{% extends 'skins/skin_members.html' %}
{% load static %}
<html lang="nl" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>New Order</title>
</head>


{% block main_content %}
    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <div class="content">
        <div class="container" id="printer_form" style="background-color:whitesmoke;">
            <nav class="mb-2" aria-label="breadcrumb">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a class="text-info"
                                                   href="{% url 'welcome' %}">Dashboard {{ user.company }}</a></li>
                    <li class="breadcrumb-item"><a class="text-info"
                                                   href="{% url 'asset_dashboard' %}">Productiemiddelen</a></li>
                    <li class="breadcrumb-item active">{{ asset_form_title }}</li>
                </ol>
            </nav>
            <hr class="text-info">
            <h2 class="mb-1 text-info">{{ asset_form_title }} {{ asset.asset_name }}</h2>
            <h5 class="mb-3">Instellingen foldingtype_id {{ foldingtype_id }}</h5>
            <hr class="text-info">
        </div>

        <!-- ===============================================-->
        <!--   New project form-->
        <!-- ===============================================-->


        <form name="update_create_printer_form" method="post" method="post">
            {% csrf_token %}
            <div class="container">
                <!-- ===============================================-->
                <!--   Client title -->
                <!-- ===============================================-->
                <div class="row">
                    <div class="col-sm-6 col-md-6">
                        <h4 class="mb-3 text-info">Algemeen *</h4>
                    </div>
                </div>
                <!-- ===============================================-->
                <!--   Row client -->
                <!-- ===============================================-->
                <div class="row">
                    <div class="col-sm-6 col-md-6">
                        <label class="form-label" id="asset_name" for="asset_name">Machinenaam:</label>
                        <input class="form-control" type="text" id="asset_name" name="asset_name"
                                {% if update %}
                               value="{{ asset.asset_name }}" {% else %} required
                                {% endif %}
                               placeholder="machinenaam opgeven"/>
                    </div>

                    <div class="col-sm-6 col-md-3">
                        <label class="form-label" for="tariff_eur_hour">Machine uurtarief Eur:</label>
                        <input class="form-control" type="number" step="0.01" id="tariff_eur_hour"
                               name="tariff_eur_hour"
                                {% if update %}
                               value="{{ asset.tariff_eur_hour |floatformat:2 }}"  {% else %} required
                                {% endif %} />

                    </div>
                </div>
                <hr class="text-info">
                <br>


                <div class="row">
                    <div class="col-sm-6 col-md-9">
                        <h4 class="mb-1 text-info">Vouwmachine opties </h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-2">

                        <div class="form-check">
                            <input class="form-check-input" id="vertical_offered" type="checkbox"
                                    {% if update and asset.vertical_offered %}  checked="" {% endif %}/>
                            <label class="form-check-label" for="vertical_offered">Pagina staand mogelijk:</label>
                        </div>

                    </div>
                    <div class="col-sm-6 col-md-2">

                        <div class="form-check">
                            <input class="form-check-input" id="landscape_offered " type="checkbox"
                                    {% if update and asset.landscape_offered %} checked="" {% endif %}/>
                            <label class="form-check-label" for="landscape_offered ">Pagina  liggend mogelijk </label>
                        </div>

                    </div>
                    <div class="col-sm-6 col-md-2">
                        <div class="form-check">
                            <input class="form-check-input" id="square_offered " type="checkbox"
                                    {% if update and asset.square_offered %}  checked="" {% endif %}/>
                            <label class="form-check-label" for="square_offered ">Pagina vierkant mogelijk</label>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-2">
                        <div class="form-check">
                            <input class="form-check-input" id="added_value " type="checkbox"
                                    {% if update and asset.added_value %}  checked="" {% endif %}/>
                            <label class="form-check-label" for="added_value ">Eigen machine voor toegevoegde
                                waarde</label>
                        </div>
                    </div>
                </div>
                <hr class="text-info">
                <br>

                <div class="row">
                    <div class="col-sm-6 col-md-6">
                        <h4 class="mb-1 text-info">Vouwmachine max velformaat </h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <label class="form-label" for="max_paperheight_mm">max papierhoogte mm: </label>
                        <input class="form-control" type="number" id="max_paperheight_mm "
                               name="max_paperheight_mm "
                                {% if update %}
                               value="{{ asset.max_paperheight_mm }}"
                               {% else %}  required {% endif %}/>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <label class="form-label" for="max_paperwidth_mm">max papierbreedte mm: </label>
                        <input class="form-control" type="number" id="max_paperwidth_mm"
                               name="max_paperwidth_mm"
                                {% if update %}
                               value="{{ asset.max_paperwidth_mm }}"
                                {% else %}  required {% endif %}/>
                    </div>
                </div>


                <hr class="text-info">
                <br>
                {%  if foldingtype_id == 1 %}
                <div class="row">
                    <div class="col-sm-6 col-md-12">
                        <h4 class="mb-1 text-info">Katernen: Vouwmachine instellen en productietijden *</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <label class="form-label" for="meter_per_hour">Snelheid: Meter papier per uur: </label>
                        <input class="form-control" type="number" id="meter_per_hour" name="meter_per_hour"
                                {% if update %}
                               value="{{ asset.meter_per_hour }}"
                                {% else %} {% if foldingtype_id == 1  %}  required  {% endif %}
                                {% endif %}/>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <label class="form-label" for="pages_per_katern">Aantal pagina's per katern : </label>
                        <input class="form-control" type="number" id="pages_per_katern" name="pages_per_katern"
                                {% if update %}
                               value="{{ asset.pages_per_katern }}"
                               {% else %} {% if foldingtype_id == 1  %}  required  {% endif %}
                                {% endif %}/>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <label class="form-label" id="sheet_input" for="sheet_input">Drukvel
                            invoermethode:</label>
                        <select class="form-select" id="sheet_input" name="sheet_input">
                            <option value=1>Drukvel hoogte</option>
                            <option value=2>Drukvel breedte</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <label class="form-label" for="setup_time_1e_katern_min">Insteltijd 1e katern (minuten): </label>
                        <input class="form-control" type="number" id="setup_time_1e_katern_min" name="setup_time_1e_katern_min"
                                {% if update %}
                               value="{{ asset.setup_time_1e_katern_min }}"
                               {% else %} {% if foldingtype_id == 1  %}  required  {% endif %}
                                {% endif %}/>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <label class="form-label" for="setup_time_next_katern_min">Insteltijd elk volgend katern
                            (minuten): </label>
                        <input class="form-control" type="number" id="setup_time_next_katern_min"
                               name="setup_time_next_katern_min"
                                {% if update %}
                               value="{{ asset.setup_time_next_katern_min }}"
                               {% else %} {% if foldingtype_id == 1  %}  required  {% endif %}
                                {% endif %}/>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <label class="form-label" for="pages_per_katern ">Tussenwit ivm productiesnelheid(mm): </label>
                        <input class="form-control" type="number" id="pages_per_katern "
                               name="pages_per_katern "
                                {% if update %}
                               value="{{ asset.margin_katern_mm }}"
                                    {% else %} {% if foldingtype_id == 1  %}  required  {% endif %}
                                {% endif %}/>
                    </div>
                </div>

            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <label class="form-label" for="min_weight_paper_katern">Min papiergewicht g/m2: </label>
                    <input class="form-control" type="number" id="min_weight_paper_katern" name="min_weight_paper_katern"
                            {% if update %}
                           value="{{ asset.min_weight_paper_katern }}"
                           {% else %} {% if foldingtype_id == 1  %}  required  {% endif %}
                            {% endif %}/>
                </div>
                <div class="col-sm-6 col-md-3">
                    <label class="form-label" for="max_weight_paper_katern">Max papiergewicht g/m2: </label>
                    <input class="form-control" type="number" id="max_weight_paper_katern"
                           name="max_weight_paper_katern"
                            {% if update %}
                           value="{{ asset.max_weight_paper_katern }}"
                           {% else %} {% if foldingtype_id == 1  %}  required  {% endif %}
                            {% endif %}/>
                </div>
            </div>
            {% elif foldingtype_id == 2 %}
            <div class="row">
                    <div class="col-sm-6 col-md-12">
                        <h4 class="mb-1 text-info">Folders: Vouwmachine instellen en productietijden</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <label class="form-label" for="sheet_per_hour">Snelheid: Folders per uur: </label>
                        <input class="form-control" type="number" id="sheet_per_hour" name="sheet_per_hour"
                                {% if update %}
                               value="{{ asset.sheet_per_hour }}"
                               {% else %} {% if foldingtype_id == 2  %}  required  {% endif %}
                                {% endif %}/>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <label class="form-label" for="max_number_stations">Aantal stations (tassen) : </label>
                        <input class="form-control" type="number" id="max_number_stations" name="max_number_stations"
                                {% if update %}
                               value="{{ asset.max_number_stations }}"
                               {% else %} {% if foldingtype_id == 2  %}  required  {% endif %}
                                {% endif %}/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <label class="form-label" for="setup_time_min">Insteltijd per opdracht (minuten): </label>
                        <input class="form-control" type="number" id="setup_time_min" name="setup_time_min"
                                {% if update %}
                               value="{{ asset.setup_time_min }}"
                               {% else %} {% if foldingtype_id == 2  %}  required  {% endif %}
                                {% endif %}/>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <label class="form-label" for="setup_time_per_station_min">Insteltijd per tas (minuten): </label>
                        <input class="form-control" type="number" id="setup_time_per_station_min"
                               name="setup_time_per_station_min"
                                {% if update %}
                               value="{{ asset.setup_time_per_station_min }}"
                               {% else %} {% if foldingtype_id == 2  %}  required  {% endif %}
                                {% endif %}/>
                    </div>
                </div>
                     <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <label class="form-label" for="speedreduction_heavy_paper_perc">% Vertraging zwaar of gelamineerd papier: </label>
                        <input class="form-control" type="number" id="speedreduction_heavy_paper_perc"
                               name="speedreduction_heavy_paper_perc"
                                {% if update %}
                               value="{{ asset.speedreduction_heavy_paper_perc }}"
                               {% else %} {% if foldingtype_id == 2  %}  required  {% endif %}
                                {% endif %}/>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <label class="form-label" for="weight_heavy_paper">Grensgewicht zwaar papier:  </label>
                        <input class="form-control" type="number" id="weight_heavy_paper"
                               name="weight_heavy_paper"
                                {% if update %}
                               value="{{ asset.weight_heavy_paper }}"
                               {% else %} {% if foldingtype_id == 2  %}  required  {% endif %}
                                {% endif %}/>
                    </div>
                </div>

            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <label class="form-label" for="speedreduction_light_paper_perc">% Vertraging licht papier:  </label>
                    <input class="form-control" type="number" id="speedreduction_light_paper_perc" name="speedreduction_light_paper_perc"
                            {% if update %}
                           value="{{ asset.speedreduction_light_paper_perc }}"
                           {% else %} {% if foldingtype_id == 2  %}  required  {% endif %}
                            {% endif %}/>
                </div>
                <div class="col-sm-6 col-md-3">
                    <label class="form-label" for="weight_light_paper">Grensgewicht licht papier:  </label>
                    <input class="form-control" type="number" id="weight_light_paper"
                           name="weight_light_paper"
                            {% if update %}
                           value="{{ asset.weight_light_paper }}"
                           {% else %} {% if foldingtype_id == 2  %}  required  {% endif %}
                            {% endif %}/>
                </div>
            </div>

            {# end folder part#}
            {% endif %}


            <hr class="text-info">
            <br>
            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <h4 class="mb-1 text-info">Papier inschiet * </h4>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <label class="form-label" for="paperwaste_start">inschiet opstarten: </label>
                    <input class="form-control" type="number" id="paperwaste_start"
                           name="paperwaste_start"
                            {% if update %}
                           value="{{ asset.paperwaste_start }}" {% else %} required
                            {% endif %}/>
                </div>
                <div class="col-sm-6 col-md-3">
                    <label class="form-label" for="paperwaste_1000sheet_perc">% Inschiet tijdens productie: </label>
                    <input class="form-control" type="number" id="paperwaste_1000sheet_perc"
                           name="paperwaste_1000sheet_perc"
                            {% if update %}
                           value="{{ asset.paperwaste_1000sheet_perc }}" {% else %} required
                            {% endif %}/>
                </div>
            </div>
            <hr class="text-info">
            <br>


            <!-- ===============================================-->
            <!--   Row asset submit buttons -->
            <!-- ===============================================-->
            {% include 'buttons/create_update_asset.html' %}


                <hr class="text-info"></div>
        </form>
        {% include 'messages/form_valid_errormelding.html' %}
    </div>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->
{% endblock %}