<!DOCTYPE html>
{% extends 'skins/skin.html' %}
{% load static %}
<html lang="nl" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>New Order</title>
</head>


{% block main_content %}
    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <div class="content">
        <div class="container" id="printer_form" style="background-color:whitesmoke;">
            <nav class="mb-2" aria-label="breadcrumb">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a class="text-info"
                                                   href="{% url 'welcome' %}">Dashboard {{ user.company }}</a></li>
                    <li class="breadcrumb-item"><a class="text-info"
                                                   href="{% url 'asset_dashboard' %}">Productiemiddelen</a></li>
                    <li class="breadcrumb-item active">{{ asset_form_title }}</li>
                </ol>
            </nav>
            <hr class="text-info">
            <h2 class="mb-1 text-info">{{ asset_form_title }} {{ asset.asset_name }}</h2>
            <hr class="text-info">
        </div>

        <!-- ===============================================-->
        <!--   New project form-->
        <!-- ===============================================-->


        <form name="update_create_printer_form" method="post" method="post">
            {% csrf_token %}
            <div class="container">
                <!-- ===============================================-->
                <!--   Client title -->
                <!-- ===============================================-->
                <div class="row">
                    <div class="col-sm-6 col-md-6">
                        <h4 class="mb-3 text-info">Algemeen *</h4>
                    </div>
                </div>
                <!-- ===============================================-->
                <!--   Row client -->
                <!-- ===============================================-->
                <div class="row">
                    <div class="col-sm-6 col-md-6">
                        <label class="form-label" id="asset_name" for="asset_name">Machinenaam:</label>
                        <p>{{ form.asset_name }}</p>
                    </div>

                    <div class="col-sm-6 col-md-3">
                        <label class="form-label" for="tariff_eur_hour">Machine uurtarief Eur:</label>
                        <p>{{ form.tariff_eur_hour }}</p>
                    </div>
                </div>
                <hr class="text-info">
                <br>


                <div class="row">
                    <div class="col-sm-6 col-md-9">
                        <h4 class="mb-1 text-info">Vouwmachine opties </h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <div class="form-check">
                            <label class="form-check-label" for="vertical_offered">Pagina staand mogelijk</label>
                            <p>{{ form.vertical_offered }}</p>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-3">
                        <div class="form-check">
                            <label class="form-check-label" for="landscape_offered">Pagina liggend mogelijk</label>
                            <p>{{ form.landscape_offered }}</p>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-3">
                        <div class="form-check">
                            <label class="form-check-label" for="square_offered">Pagina vierkant mogelijk</label>
                            <p>{{ form.square_offered }}</p>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-3">
                        <div class="form-check">
                            <label class="form-check-label" for="added_value">Eigen machine voor toegevoegde
                                waarde</label>
                            <p>{{ form.added_value }}</p>
                        </div>
                    </div>
                </div>

            </div>
            <hr class="text-info">
            <br>

            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <h4 class="mb-1 text-info">Vouwmachine max velformaat </h4>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <label class="form-label" for="max_paperheight_mm">max papierhoogte mm: </label>
                    <p>{{ form.max_paperheight_mm }}</p>
                </div>
                <div class="col-sm-6 col-md-3">
                    <label class="form-label" for="max_paperwidth_mm">max papierbreedte mm: </label>
                    <p>{{ form.max_paperwidth_mm }}</p>
                </div>
            </div>


            <hr class="text-info">
            <br>
            {% if foldingtype_id == 1 %}
                <div class="row">
                    <div class="col-sm-6 col-md-12">
                        <h4 class="mb-1 text-info">Katernen: Vouwmachine instellen en productietijden *</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <label class="form-label" for="meter_per_hour">Snelheid: Meter papier per uur: </label>
                        <p>{{ form.meter_per_hour }}</p>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <label class="form-label" for="pages_per_katern">Aantal pagina's per katern : </label>
                        <<p>{{ form.pages_per_katern }}</p>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <label class="form-label" id="sheet_input" for="sheet_input">Drukvel
                            invoermethode:</label>
                        <select class="form-select" id="sheet_input" name="sheet_input">
                            <option value=1>Drukvel hoogte</option>
                            <option value=2>Drukvel breedte</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <label class="form-label" for="setup_time_1e_katern_min">Insteltijd 1e katern
                            (minuten): </label>
                        <p>{{ form.setup_time_1e_katern_min }}</p>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <label class="form-label" for="setup_time_next_katern_min">Insteltijd elk volgend katern
                            (minuten): </label>
                        <p>{{ form.setup_time_next_katern_min }}</p>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <label class="form-label" for="pages_per_katern">Tussenwit ivm productiesnelheid(mm): </label>
                        <p>{{ form.pages_per_katern }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <label class="form-label" for="min_weight_paper_katern">Min papiergewicht g/m2: </label>
                        <p>{{ form.min_weight_paper_katern }}</p>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <label class="form-label" for="max_weight_paper_katern">Max papiergewicht g/m2: </label>
                        <p>{{ form.max_weight_paper_katern }}</p>
                    </div>
                </div>
            {% elif foldingtype_id == 2 %}
                <div class="row">
                    <div class="col-sm-6 col-md-12">
                        <h4 class="mb-1 text-info">Folders: Vouwmachine instellen en productietijden</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <label class="form-label" for="sheet_per_hour">Snelheid: Folders per uur: </label>
                        <p>{{ form.sheet_per_hour }}</p>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <label class="form-label" for="max_number_stations">Aantal stations (tassen) : </label>
                        <<p>{{ form.max_number_stations }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <label class="form-label" for="setup_time_min">Insteltijd per opdracht (minuten): </label>
                        <p>{{ form.setup_time_min }}</p>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <label class="form-label" for="setup_time_per_station_min">Insteltijd per tas
                            (minuten): </label>
                        <p>{{ form.setup_time_per_station_min }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <label class="form-label" for="speedreduction_heavy_paper_perc">% Vertraging zwaar of
                            gelamineerd papier: </label>
                        <p>{{ form.speedreduction_heavy_paper_perc }}</p>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <label class="form-label" for="weight_heavy_paper">Grensgewicht zwaar papier: </label>
                        <p>{{ form.weight_heavy_paper }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <label class="form-label" for="speedreduction_light_paper_perc">% Vertraging licht
                            papier: </label>
                        <p>{{ form.speedreduction_light_paper_perc }}</p>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <label class="form-label" for="weight_light_paper">Grensgewicht licht papier: </label>
                        <p>{{ form.weight_light_paper }}</p>
                    </div>
                </div>

                {# end folder part#}
            {% endif %}


            <hr class="text-info">
            <br>
            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <h4 class="mb-1 text-info">Papier inschiet * </h4>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <label class="form-label" for="paperwaste_start">inschiet opstarten: </label>
                    <p>{{ form.paperwaste_start }}</p>
                </div>
                <div class="col-sm-6 col-md-3">
                    <label class="form-label" for="paperwaste_1000sheet_perc">% Inschiet tijdens productie: </label>
                    <p>{{ form.paperwaste_1000sheet_perc }}</p>
                </div>
            </div>
            <hr class="text-info">
            <br>


            <!-- ===============================================-->
            <!--   Row asset submit buttons -->
            <!-- ===============================================-->
            {% include 'buttons/create_update_asset.html' %}


            <hr class="text-info">
    </div>
    </form>
    {% include 'messages/form_valid_errormelding.html' %}
    </div>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->
{% endblock %}