<!DOCTYPE html>
{% extends 'skins/skin.html' %}
{% load static %}
<html lang="nl" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>New Order</title>
</head>


{% block main_content %}
    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <div class="content">
        <div class="container" id="printer_form" style="background-color:whitesmoke;">
            <nav class="mb-2" aria-label="breadcrumb">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a class="text-info"
                                                   href="{% url 'welcome' %}">Dashboard {{ user.company }}</a></li>
                    <li class="breadcrumb-item"><a class="text-info"
                                                   href="{% url 'asset_dashboard' %}">Productiemiddelen</a></li>
                    <li class="breadcrumb-item active">{{ asset_form_title }}</li>
                </ol>
            </nav>
            <hr class="text-info">
            <h2 class="mb-1 text-info">{{ asset_form_title }} {{ asset.asset_name }}</h2>
            <hr class="text-info">
        </div>

        <!-- ===============================================-->
        <!--   Printer form-->
        <!-- ===============================================-->

        <form name="update_create_printer_form" method="post" method="post">
            {% csrf_token %}
            <div class="container">
                <!-- ===============================================-->
                <!--   Client title -->
                <!-- ===============================================-->
                <div class="row">
                    <div class="col-sm-6 col-md-6">
                        <h4 class="mb-3 text-info">Algemeen</h4>
                    </div>
                </div>
                <!-- ===============================================-->
                <!--   Row client -->
                <!-- ===============================================-->
                <div class="row">
                    <div class="col-sm-6 col-md-6">
                        <label class="form-label" id="asset_name" for="asset_name">Machinenaam:</label>
                        <p>{{ form.asset_name }}</p>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <label class="form-label" for="productionspeed_sheets_hour">Productiesnelheid vel/uur:</label>
                        <p>{{ form.productionspeed_sheets_hour }}</p>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <label class="form-label" for="max_number_colors">Aantal kleuren per doorgang:</label>
                        <p>{{ form.max_number_colors }}</p>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <label class="form-label" for="tariff_eur_hour">Machine uurtarief Eur:</label>
                        <p>{{ form.tariff_eur_hour }}</p>
                    </div>
                </div>
                <hr class="text-info">
                <br>
                <div class="row">
                    <div class="col-sm-6 col-md-6">
                        <h4 class="mb-1 text-info">Max / Min Pers / drukvelformaat</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <label class="form-label" for="printsize_height">max pers / velformaat hoogte mm:</label>
                        <p>{{ form.printsize_height }}</p>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <label class="form-label" for="printsize_width">max pers / velformaat breedte mm:</label>
                        <p>{{ form.printsize_width }}</p>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <label class="form-label" for="sheetsize_height_min">min drukvelformaat hoogte mm:</label>
                        <p>{{ form.sheetsize_height_min }}</p>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <label class="form-label" for="sheetsize_width_min">min drukvelformaat breedte mm:</label>
                        <p>{{ form.sheetsize_width_min }}</p>
                    </div>
                </div>

                <hr class="text-info">
                <br>
                <div class="row">
                    <div class="col-sm-6 col-md-9">
                        <h4 class="mb-1 text-info">Persopties </h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <div class="form-check">
                            <label class="form-check-label" for="perfecting">Schoon en Weer instelling</label>
                            <p>{{ form.perfecting }}</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="form-check">
                            <label class="form-check-label" for="pms_offered">beschikbaar voor pms kleuren</label>
                            <p>{{ form.pms_offered }}</p>
                        </div>

                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="form-check">
                            <label class="form-check-label" for="varnish_unit">persvernistoren beschikbaar</label>
                            <p>{{ form.varnish_unit }}</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="form-check">
                            <label class="form-check-label" for="varnish_at_printunit">vernis op druktunits
                                mogelijk</label>
                            <p>{{ form.varnish_at_printunit }}</p>
                        </div>
                    </div>
                </div>
                <hr class="text-info">
                <br>

                <div class="row">
                    <div class="col-sm-6 col-md-6">
                        <h4 class="mb-1 text-info">Voor schoon en weer persen </h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <label class="form-label" for="max_number_colors_front_sw">Aantal kleuren schoondruk:</label>
                        <p>{{ form.max_number_colors_front_sw }}</p>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <label class="form-label" for="max_number_colors_back_sw">Aantal kleuren weerdruk:</label>
                        <p>{{ form.max_number_colors_back_sw }}</p>
                    </div>
                </div>
                <hr class="text-info">

                <br>
                <hr class="text-info">
                <div class="row">
                    <div class="col-sm-6 col-md-6">
                        <h4 class="mb-1 text-info">Marges </h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <label class="form-label" for="extra_mm_sheet_sidemargin">extra mm zijmarges(2x): </label>
                        <p>{{ form.extra_mm_sheet_sidemargin }}</p>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <label class="form-label" for="strips_extra_margin_mm">kijp & strips extra mm:</label>
                        <p>{{ form.strips_extra_margin_mm }}</p>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <label class="form-label" for="central_extra_margin_mm">middenwit extra mm (optie):</label>
                        <p>{{ form.central_extra_margin_mm }}</p>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <label class="form-label" for="extra_strip_option">stripwit extra mm (optie):</label>
                        <p>{{ form.extra_strip_option }}</p>
                    </div>
                </div>
                <br>
                <hr class="text-info">

                <div class="row">
                    <div class="col-sm-6 col-md-6">
                        <h4 class="mb-1 text-info"> Insteltijden en snelheid </h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <label class="form-label" for="starttime_per_order">starttijd per order min:</label>
                        <p>{{ form.starttime_per_order }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <label class="form-label" for="start_time_sheet_frontside">Opstarttijd drukvel
                            voorzijde: </label>
                        <p>{{ form.start_time_sheet_frontside }}</p>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <label class="form-label" for="start_time_sheet_backside">Opstarttijd drukvel achterzijde
                            :</label>
                        <p>{{ form.start_time_sheet_backside }}</p>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <label class="form-label" for="start_time_varnish">Extra opstarttijd persvernis: </label>
                        <p>{{ form.start_time_varnish }}</p>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <label class="form-label" for="start_time_pms_color">Extra opstarttijd per pms
                            kleur:</label>
                        <p>{{ form.start_time_pms_color }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <label class="form-label" for="perc_speedreduction_heavy_paper">% vertraging zwaar
                            matriaal: </label>
                        <p>{{ form.perc_speedreduction_heavy_paper }}</p>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <label class="form-label" for="weight_heavy_paper">Van toepassing vanaf g/m2
                            gewicht: </label>
                        <p>{{ form.weight_heavy_paper }}</p>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <label class="form-label" for="perc_speedreduction_light_paper">% vertraging licht
                            matriaal: </label>
                        <p>{{ form.perc_speedreduction_light_paper }}</p>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <label class="form-label" for="weight_light_paper">Van toepassing onder g/m2 gewicht: </label>
                        <p>{{ form.weight_light_paper }}</p>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="mb-1 text-info"> Alleen voor sw persen</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <label class="form-label" for="changetime_perfector">Omsteltijd sw drukken:</label>
                        <p>{{ form.changetime_perfector }}</p>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <label class="form-label" for="perc_speedreduction_perfecting">% vertraging sw drukken:</label>
                        <p>{{ form.perc_speedreduction_perfecting }}</p>
                    </div>
                </div>
                <br>
                <hr class="text-info">

                <div class="row">
                    <div class="col-sm-6 col-md-6">
                        <h4 class="mb-1 text-info"> Inktkosten</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <label class="form-label" for="ink_1000_prints_zw">Inkt per 1000 druks zwart:
                            voorzijde: </label>
                        <p>{{ form.ink_1000_prints_zw }}</p>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <label class="form-label" for="ink_1000_prints_fc">Inkt per 1000 druks FC: </label>
                        <p>{{ form.ink_1000_prints_fc }}</p>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <label class="form-label" for="ink_1000_prints_varnish">Inkt per 1000 druks vernis: </label>
                        <p>{{ form.ink_1000_prints_varnish }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <label class="form-label" for="ink_start_costs_pms">Startkosten per PMS: </label>
                        <p>{{ form.asset_name }}</p>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <label class="form-label" for="ink_1000_prints_pms">Inkt per 1000 druks PMS: </label>
                        <p>{{ form.ink_start_costs_pms }}</p>>
                    </div>
                </div>
                <hr class="text-info">
                <div class="row">
                    <div class="col-sm-6 col-md-6">
                        <h4 class="mb-1 text-info">Plaatkosten</h4>
                    </div>
                </div>
                <div class="row">

                    <div class="col-sm-6 col-md-3">
                        <label class="form-label" for="buy_tariff_plate_eur">Inkoop per plaat Eur:</label>
                        <p>{{ form.buy_tariff_plate_eur }}</p>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <label class="form-label" for="margin_plate_eur">TW per plaat Eur:</label>
                        <p>{{ form.margin_plate_eur }}</p>>
                    </div>
                </div>
                <br>
                <hr class="text-info">
                <div class="row">
                    <div class="col-sm-6 col-md-6">
                        <h4 class="mb-1 text-info"> Papier inschiet </h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <label class="form-label" for="paperwaste_per_order">inschiet per order: </label>
                        <p>{{ form.paperwaste_per_order }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <label class="form-label" for="paperwaste_per_side_black">inschiet per zijde zwart: </label>
                        <p>{{ form.paperwaste_per_side_black }}</p>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <label class="form-label" for="paperwaste_per_side_fc">inschiet per zijde full color: </label>
                        <p>{{ form.paperwaste_per_side_fc }}</p>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <label class="form-label" for="paperwaste_per_side_pms">extra inschiet per zijde per pms
                            kleur: </label>
                        <p>{{ form.paperwaste_per_side_pms }}</p>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <label class="form-label" for="paperwaste_per_side_varnish">extra inschiet per zijde
                            persvernis: </label>
                        <p>{{ form.paperwaste_per_side_varnish }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <label class="form-label" for="perc_paperwaste_printing_1000_sheets">% inschiet drukken per 1000
                            vel: </label>
                        <p>{{ form.perc_paperwaste_printing_1000_sheets }}</p>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <label class="form-label" for="perc_extra_paperwaste_printing_pms">% extra inschiet drukken per
                            pms kleur:
                        </label>
                        <p>{{ form.perc_extra_paperwaste_printing_pms }}</p>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <label class="form-label" for="perc_paperwaste_printing_1000_sheet_perfector">% extra inschiet
                            per 1000 vel sw: </label>
                        <p>{{ form.perc_paperwaste_printing_1000_sheet_perfector }}</p>
                    </div>
                </div>

            </div>
            <br>
            <hr class="text-info">

            <!-- ===============================================-->
            <!--   Row asset submit buttons -->
            <!-- ===============================================-->
            {% include 'buttons/create_update_asset.html' %}


            <hr class="text-info">
        </form>
        {% include 'messages/form_valid_errormelding.html' %}
    </div>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->
{% endblock %}