<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <title>transport tariff table</title>
</head>
<body>

<br>
<div class="col-12 rounded-2 border border-info">
    <div class="card h-100">
        <div class="card-body">

            <div class="table-responsive scrollbar mx-n1 px-1">
                <h3 class="mb-0 text-info">Tarieven transport per 100kg</h3>
                <hr>
                    <table class="table table-sm fs--1 mb-0">
                        <thead>
                        <tr>
                            <th class="white-space-nowrap align-left pe-1" scope="col"
                                style="width:15%;">Verpakking
                            </th>
                            <th class="white-space-nowrap align-left pe-1" scope="col"
                                data-sort="asset_id"
                                style="width:10%;">Startkosten
                            </th>

                            <th class="white-space-nowrap align-left pe-1" scope="col" style="width:10%;">
                               Kosten per 100kg

                            </th>
                                                         <th class="white-space-nowrap align-middle pe-1" scope="col" style="width:10%;">Toegevoegde waarde
                                 </th>
                            <th class="white-space-nowrap align-middle pe-1" scope="col" style="width:5%;">Wel/geen <br>Eigen productie</th>
                            
                             <th class="white-space-nowrap align-middle pe-1" scope="col" style="width:20%;">Status
                            </th>
                                                        <th class="white-space-nowrap align-middle pe-1" scope="col" style="width:5%;">Wel/niet <br>Aanbieden</th>
                            </th>
                            <th class="white-space-nowrap align-middle pe-1" scope="col" style="width:5%;">Wijzigen
                            </th>

                        </tr>
                        </thead>
                        <tbody class="list" id="order-table-body">
                        {% for i in transport_tariffs %}
                            <tr class="hover-actions-trigger btn-reveal-trigger position-static">
                                <td class="align-middle fw-semi-bold text-1000">{{ i.transportoption.transport  }}</td>
                                <td class="align-middle fw-semi-bold text-1000">€ {{ i.setup_cost }}</td>
                                <td class="align-middle fw-semi-bold text-1000">€ {{ i.cost_per_100kg }}</td>
                            
                             <td class="align-middle fw-semi-bold text-1000">
                                {% if i.added_value %}Eigen productie{% else %}Inkoop{% endif %} </td>

                                {% if i.added_value  %}
                            <td class="speed align-middle fw-semi-bold text-1000"><a href="{% url 'change_transport_added_value' i.transporttariff_id %}"
                                class="btn btn-outline-warning btn-sm me-1 mb-1" role="button"
                                aria-pressed="true"><i class="fas fa-ban"></i></a>
                            </td>
                                {% else %}
                            <td class="speed align-middle fw-semi-bold text-1000"><a href="{% url 'change_transport_added_value' i.transporttariff_id %}"
                                class="btn btn-outline-success btn-sm me-1 mb-1" role="button"
                                aria-pressed="true"><i class="fas fa-plus"></i></a>
                            </td>
                            {% endif %}
                            
                            <td class="align-middle fw-semi-bold text-1000">
                                {% if i.availeble %}Aangeboden{% else %}Niet aangeboden{% endif %} </td>

                                {% if i.availeble  %}
                            <td class="speed align-middle fw-semi-bold text-1000"><a href="{% url 'change_transport_availability' i.transporttariff_id %}"
                                class="btn btn-outline-warning btn-sm me-1 mb-1" role="button"
                                aria-pressed="true"><i class="fas fa-ban"></i></a>
                            </td>
                                {% else %}
                            <td class="speed align-middle fw-semi-bold text-1000"><a href="{% url 'change_transport_availability' i.transporttariff_id %}"
                                class="btn btn-outline-success btn-sm me-1 mb-1" role="button"
                                aria-pressed="true"><i class="fas fa-plus"></i></a>
                            </td>
                            {% endif %}

                                <td class="align-middle white-space-nowrap task ps-0 py-0">
                                    {% include 'buttons/update_transporttariff.html' %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    </div>
        </div>
    </div>
</div>
</body>
</html>
