<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Enhance</title>
</head>
<body>
<div class="container" id="enhance_general">
    <!-- ===============================================-->
    <!--   Row title -->
    <!-- ===============================================-->
    <div class="row">
        <div class="col-sm-6 col-md-12">
            <h4 class="mb-2 text-info">Veredeling {{ print_type }}</h4>
            {% if update %}
        <h6 class="mb-2">{{ printproject_enhance }}</h6>
        {% endif %}
        </div>
    </div>
    <!-- ===============================================-->
    <!--   Row Enhance choices -->
    <!-- ===============================================-->
    <div class="row">
        <div class="col-sm-6 col-md-3" id="field_enhance_front">
            <label class="form-label" id="field_enhance_front_label"  for="enhance_front">Veredeling voorzijde</label>
            <select class="form-select" id="enhance_front" name="enhance_front">
                <option value=0>{{ no_enhancement }}</option>
                {% for i in enhance_choices %}
                    <option value="{{ i.enhancement_id }}">{{ i.enhancement }}</option>
                {% endfor %}
            </select>
        </div>
        {% if productcategory_id in categories_plano %}
        <div class="col-sm-6 col-md-3" id="field_enhance_back">
            <label class="form-label" id="field_enhance_back_label" for="enhance_back">Veredeling achterzijde</label>
            <select class="form-select" id="enhance_back" name="enhance_back">
            <option value=0>{{ no_enhancement }}</option>
                {% for i in enhance_choices %}
                     <option value="{{ i.enhancement_id }}">{{ i.enhancement }}</option>
                {% endfor %}
            </select>
        </div>
   {% endif %}
    </div>
    <br>
</div>
<hr class="text-info">
</body>
</html>