<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Folder general</title>
</head>
<body>
<!-- ===============================================-->
<!--   Title ands productcategory -->
<!-- ===============================================-->
<div class="container" id="folder_general"

<div class="row">
    <h4 class="mb-3 text-info">Folder uitvoering</h4>
    {% if update %}
        <h6 class="mb-3">{{ printproject_finishing }}</h6>
    {% endif %}
    <!-- ===============================================-->
    <!--   Row Size -->
    <!-- ===============================================-->
</div>
<div class="row">
    <div class="col-sm-12 col-md-6">
        <label class="form-label" for="folding">Vouwmethode</label>
        <select class="form-select" id="folding" name="folding">
            <option value="0">Kies vouwmethode</option>
            {% for i in foldingmethods %}
                <option value="{{ i.foldingmethod_id }}">{{ i.number_of_pages }}&nbsp;pagina's&nbsp;{{ i.foldingmethod }}&nbsp;gevouwen </option>
            {% endfor %}
        </select>
    </div>
    <br>
</div>

<hr class="text-info">
</div>

</body>
</html>