<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Intro general</title>
</head>
<body>
<div class="container" id="intro_general">
    <!-- ===============================================-->
    <!--   General intro title -->
    <!-- ===============================================-->
    <div class="row">
        <h4 class="mb-3 text-info">Algemeen
            {% if update %}
                <h6 class="mb-3">{{ printproject_title }}</h6>
            {% endif %}
        </h4>
    </div>
    <!-- ===============================================-->
    <!--   Row Project title -->
    <!-- ===============================================-->

    <div class="row">
        <div class="col-sm-6 col-md-6">
            <label class="form-label" id="project_title" for="project_title">Projectnaam</label>
            <p>{{ form.project_title }}</p>
        </div>
    </div>
    <!-- ===============================================-->
    <!--   Row volume, ordernumber and planning -->
    <!-- ===============================================-->
    <div class="row">
        <div class="mb-3 row">

            <div class="col-sm-6 col-md-3">
                <label class="form-label" id='volume' for='volume'>Oplage
                    {% if update %} {{ printproject.volume }} {% endif %} </label>
                <p>{{ form.volume }}</p>
            </div>

            <div class="col-sm-6 col-md-3">
                <label class="form-label" id="own_quotenumber" for="own_quotenumber">Eigen ordernr</label>
                <p>{{ form.own_quotenumber }}</p>
            </div>

            <div class="col-sm-6 col-md-3">
                <label class="form-label" for="supply_date">aanleverdatum
                    {% if update %}
                        : &nbsp; {{ printproject.supply_date | date:'d-m-Y ' }}
                    {% endif %}
                </label>
                <p>{{ form.supply_date }}</p>
            </div>

            <div class="col-sm-6 col-md-3">
                <label class="form-label" for="delivery_date">leverdatum
                    {% if update %}
                        : &nbsp; {{ printproject.delivery_date | date:'d-m-Y ' }}
                    {% endif %}
                </label>
                <p>{{ form.delivery_date }}</p>
            </div>
            <!-- ===============================================-->
            <!--   Row description -->
            <!-- ===============================================-->

            <div class="col-12 gy-1">
                <label class="form-label" id="description" for="description">Eigen projectomschrijving, wordt niet naar
                    leveranciers
                    verzonden</label>
                <p>{{ form.description }}</p>
            </div>
        </div>
        <hr class="text-info">
        <br>
        <!-- ===============================================-->
        <!--   Row client -->
        <!-- ===============================================-->
        <div>
            {% if user.member_plan_id in pro_memberplans %}
                <div class="row">
                    <div class="col-sm-6 col-md-6">
                        <h4 class="mb-3 text-info">Mijn klant</h4>
                        <h6 class="mb-3">Voor eigen gebruik, wordt niet met producenten gedeeld.</h6>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <a href="{% url 'create_client' %}" class="btn btn-warning px-5 px-sm-5">
                            + Nieuwe klant aanmaken</a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <label class="form-label" for="client_id">
                            Klant  {% if update %}: &nbsp; {{ client }} {% endif %}</label>
                        <select class="form-select" id="client_id" name="client_id">
                            {% if update %}
                                <option value="0">Wijzig klant</option>
                            {% else %}
                                <option value="0">Geen klantopgave</option>
                            {% endif %}
                            {% for i in clients %}
                                <option value="{{ i.client_id }}">{{ i.client }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <label class="form-label" for="clientcontact_id">
                            Contact {% if update %}: &nbsp; {{ clientcontact }}{% endif %} </label>
                        <select class="form-select" id="clientcontact_id" name="clientcontact_id">
                            {#                                    {% if update %}#}
                            {#                                        <option value="{{ printproject.clientcontact_id }}">Wijzig contactpersoon</option>'#}
                            {#                                    {% else %}#}
                            {#                                        <option value="">Geen contactpersoon</option>'#}
                            {#                                    {% endif %}#}

                            {% for i in clientcontacts %}
                                <option value="{{ i.clientcontact_id }}">{{ i.clientcontact }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <label class="form-label" id="client_quotenumber" for="client_quotenumber">Klant ordernr</label>
                        <p>{{ form.client_quotenumber }}</p>
                    </div>
                </div></div>
                <hr class="text-info"><br>
            {% endif %}
    </div>
</div>
</body>
</html>