<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Paper general</title>
</head>
<body>
<div class="container" id="paper_general">
    <!-- ===============================================-->
    <!--   Row title -->
    <!-- ===============================================-->
    <div class="row">
        <h4 id="paper_general_header" class="mb-3 text-info">Papier {{ type_booklet }}</h4>
            {% if update %}
        <h6 class="mb-3">{{ printproject_paper }}</h6>
        {% endif %}
    </div>
    <!-- ===============================================-->
    <!--   Row paper category and brand -->
    <!-- ===============================================-->
    <div id="default_paper_input">
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <label class="form-label" for="papercategory">Papier categorie</label>
                <select class="form-select" id="papercategory" name="papercategory" 
                        {% if not update %} required {% endif %}>
                    {% if update %}
                        <option value="0">Wijzig papiercategorie</option>
                    {%  for i in papercategories %}
                        <option value="{{ i.papercategory }}">{{ i.papercategory }}</option>
                    {% endfor %}
                    {% else %}
                        <option value="">Kies papiercategorie</option>
                    {% for i in papercategories %}
                        <option value="{{ i.papercategory }}">{{ i.papercategory }}</option>
                    {% endfor %}
                {% endif %}
                </select>
            </div>
            <div class="col-sm-6 col-md-6">
                <label class="form-label" for="paperbrand">Papiermerk</label>
                <select class="form-select" id="paperbrand" name="paperbrand" onclick="popUpEmpyPaperCategory()"
                         {% if not update %} required {% endif %}>
                         {% if update %}
                        <option value="0">Wijzig papiermerk</option>
                                   {% else %} <option value="0">Kies papiermerk</option>{% endif %}
                    {% for i in paperbrands %}
                        <option value="{{ i.paperbrand }}">{{ i.paperbrand }}</option>
                    {% endfor %}
                </select>
            </div>
        <!-- ===============================================-->
        <!--   Paper weight and color -->
        <!-- ===============================================-->

            <div class="col-sm-6 col-md-6">
                <label class="form-label" for="paperweight">Papiergewicht</label>
                <select class="form-select" id="paperweight" name="paperweight" onclick="popUpEmpyPaperBrand()"
                        {% if not update %} required {% endif %}>
                    {% if update %}
                        <option value="0">Wijzig papiergewicht</option>
                                   {% else %} <option value="0">Kies papiergewicht</option>{% endif %}
                    {% for i in paperweights %}
                        <option value="{{ i.paperweight_m2 }}">{{ i.paperweight_m2 }}</option>
                    {% endfor %}
                </select>
            </div>
        {% if brandportal.brandportal_show_papercolor %}
            <div class="col-sm-6 col-md-6">
                <label class="form-label" for="papercolor">Papierkleur</label>
                <select class="form-select" id="papercolor" name="papercolor" onclick="popUpEmpyPaperWeight()"
                        {% if not update %} required {% endif %}>
                   {% if update %}<option value="0">Wijzig papierkleur</option>
                   {% else %} <option value="0">Kies papierkleur</option>{% endif %}
                    {% for i in papercolors %}
                        <option value="{{ i.paperspec_id }}">{{ i.papercolor }}</option>
                    {% endfor %}
                </select>
            </div>
        {% endif  %}
        </div>
    </div>
<br>
    <hr class="text-info">

<br>
</div>
<br>
</body>
</html>