<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Print cover</title>
</head>
<body>
<div class="container" id="printing_cover"
        {% if update and productcategory_id in productcategory_cover %}
     style="display: block">
        {% else %}
            style="display: none">
        {% endif %}
<!-- ===============================================-->
    <!--   Row print cover title -->
    <!-- ===============================================-->
    <div class="row">
        <div class="col-sm-6 col-md-6">
            <h4 class="mb-3 text-info">Bedrukking omslag</h4>
            {% if update %}
        <h6 class="mb-3">{{ printproject_printing_cover }}</h6>
        {% endif %}
        </div>
    </div>
    <!-- ===============================================-->
    <!--   Row print front -->
    <!-- ===============================================-->
    <div class="row" id="print_front">
        <div class="col-sm-6 col-md-3">
            <label class="form-label" for="printsided_cover">Eén- of tweezijdig</label>
            <select class="form-select" id="printsided_cover" name="printsided_cover"
                    onchange="print_rearCoverSelectCheck(this)">
                {% for i in printsided_choices %}
                    <option value="{{ i.type }}">{{ i.type }}</option>
                {% endfor %}
            </select>
        </div>

        <!-- ===============================================-->
        <!--   Print choice -->
        <!-- ===============================================-->

        <div class="col-sm-6 col-md-3">
            <label class="form-label" id="print_front_label_cover" for="print_cover">Bedrukking</label>
            <select class="form-select" id="print_cover" name="print_cover">
                {% for i in print_choices %}
                    <option value="{{ i.type }}">{{ i.type }}</option>
                {% endfor %}
            </select>
        </div>

        <!-- ===============================================-->
        <!--   PMS colors front cover-->
        <!-- ===============================================-->


            <div class="col-sm-6 col-md-3">
                <label class="form-label" id="number_pms_colors_cover_label" for="number_pms_colors_cover">Aantal PMS kleuren
                    omslag</label>
                <input type="text" class="form-control" id="number_pms_colors_cover" name="number_pms_colors_cover"
                       placeholder=0 value=0>
            </div>
        <!-- ===============================================-->
        <!--   Pressvarnish front cover-->
        <!-- ===============================================-->

        <div class="col-sm-6 col-md-3">
            <label class="form-label" id="pressvarnish_cover_label" for="pressvarnish_cover">Vernis omslag</label>
            <select class="form-select" id="pressvarnish_cover" name="pressvarnish_cover">
                {% for i in pressvarnish_choices %}
                    <option value="{{ i.type }}">{{ i.type }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <!-- ===============================================-->
    <!--   Row print rear cover -->
    <!-- ===============================================-->

    <br>
    <div id="print_rear_cover_row" style="display: none">
        <div class="row">
            <div class="col-sm-6 col-md-3">
            </div>
            <div class="col-sm-6 col-md-3">
                <label class="form-label" for="print_rear_cover">Bedrukking binnnezijde omslag</label>
                <select class="form-select" id="print_rear_cover" name="print_rear_cover">
                    {% for i in print_choices %}
                        <option value="{{ i.type }}">{{ i.type }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-sm-6 col-md-3">
                <label class="form-label" id="number_pms_colors_rear_cover" for="number_pms_colors_rear_cover">Aantal PMS kleuren
                    binnenzijde omslag</label>
                <input type="text" class="form-control" id="number_pms_colors_rear_cover" name="number_pms_colors_rear_cover"
                       placeholder=0 value=0>
            </div>
        <div class="col-sm-6 col-md-3">
            <label class="form-label" for="pressvarnish_rear_cover">Persvernis binnnezijde omslag</label>
            <select class="form-select" id="pressvarnish_rear_cover" name="pressvarnish_rear_cover">
                {% for i in pressvarnish_choices %}
                    <option value="{{ i.type }}">{{ i.type }}</option>
                {% endfor %}
            </select>
        </div>
        </div>
    </div>
    <br>
    <hr class="text-info">
</div>
</body>
</html>