<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Print cover</title>
</head>
<body>
<div class="container" id="printing_cover">
<!-- ===============================================-->
    <!--   Row print cover title -->
    <!-- ===============================================-->
    <div class="row">
        <div class="col-sm-6 col-md-6">
            <h4 class="mb-3 text-info">Bedrukking omslag</h4>
            {% if update %}
        <h6 class="mb-3">{{ printproject_printing_cover }}</h6>
        {% endif %}
        </div>
    </div>
    <!-- ===============================================-->
    <!--   Row print front -->
    <!-- ===============================================-->
    <div class="row" id="print_front">
        <div class="col-sm-6 col-md-3">
            <label class="form-label" for="printsided">Eén- of tweezijdig</label>
            <select class="form-select" id="printsided" name="printsided"
                    onchange="print_rearCoverSelectCheck(this)">
                {% for i in printsided_choices %}
                     <option value="{{ i.value }}">{{ i.text }}</option>
                {% endfor %}
            </select>
        </div>

        <!-- ===============================================-->
        <!--   Print choice -->
        <!-- ===============================================-->

        <div class="col-sm-6 col-md-3">
            <label class="form-label" id="print_front_label_cover" for="print_front">Bedrukking</label>
            <select class="form-select" id="print_front" name="print_front">
                {% for i in print_choices %}
                      <option value="{{ i.value }}">{{ i.text }}</option>
                {% endfor %}
            </select>
        </div>

        <!-- ===============================================-->
        <!--   PMS colors front cover-->
        <!-- ===============================================-->

            {% if brandportal.brandportal_show_pms_input %}
            <div class="col-sm-6 col-md-3">
                <label class="form-label" id="number_pms_colors_cover_label" for="number_pms_colors_front">Aantal PMS kleuren
                    omslag</label>
                <input type="text" class="form-control" id="number_pms_colors_front" name="number_pms_colors_front"
                       placeholder=0 value=0>
            </div>
            {% endif %}
        <!-- ===============================================-->
        <!--   Pressvarnish front cover-->
        <!-- ===============================================-->

        <div class="col-sm-6 col-md-3">
            <label class="form-label" id="pressvarnish_cover_label" for="pressvarnish_front">Vernis omslag</label>
            <select class="form-select" id="pressvarnish_front" name="pressvarnish_front">
                {% for i in pressvarnish_choices %}
                      <option value="{{ i.value }}">{{ i.text }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <!-- ===============================================-->
    <!--   Row print rear cover -->
    <!-- ===============================================-->

    <br>
    <div id="print_rear_cover_row" style="display: none">
        <div class="row">
            <div class="col-sm-6 col-md-3">
            </div>
            <div class="col-sm-6 col-md-3">
                <label class="form-label" id="print_rear_cover" for="print_rear">Bedrukking binnnezijde omslag</label>
                <select class="form-select" id="print_rear" name="print_rear">
                    {% for i in print_choices %}
                          <option value="{{ i.value }}">{{ i.text }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-sm-6 col-md-3">
                <label class="form-label" id="number_pms_colors_rear_cover" for="number_pms_colors_rear">Aantal PMS kleuren
                    binnenzijde omslag</label>
                <input type="text" class="form-control" id="number_pms_colors_rear" name="number_pms_colors_rear"
                       placeholder=0 value=0>
            </div>
        <div class="col-sm-6 col-md-3">
            <label class="form-label" id="pressvarnish_rear_cover" for="pressvarnish_rear">Persvernis binnnezijde omslag</label>
            <select class="form-select" id="pressvarnish_rear" name="pressvarnish_rear">
                {% for i in pressvarnish_choices %}
                      <option value="{{ i.value }}">{{ i.text }}</option>
                {% endfor %}
            </select>
        </div>
        </div>
    </div>
    <hr class="text-info"><br>
    <!-- ===============================================-->
    <!--   Row Enhance choices outside cover-->
    <!-- ===============================================-->
    <div class="row">
        <div class="col-sm-6 col-md-6">
            <h4 class="mb-3 text-info">Vedeling buitenzijde omslag</h4>
            {% if update %}
        <h6 class="mb-3">{{ printproject_printing_cover }}</h6>
        {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-3" id="field_enhance_front">
            <label class="form-label" id="field_enhance_front_label"  for="enhance">Veredeling buitenzijde omslag</label>
            <select class="form-select" id="enhance" name="enhance">
                <option value=0>{{ no_enhancement }}</option>
                {% for i in enhance_choices %}
                    <option value="{{ i.enhancement }}">{{ i.enhancement }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <hr class="text-info"><br>
</div>

</body>
</html>