<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Print cover</title>
</head>
<body>
<div class="container" id="printing_cover">
    <!-- ===============================================-->
    <!--   Row print title -->
    <!-- ===============================================-->
    <div class="row">
        <div class="col-sm-6 col-md-6">
            <h4 class="mb-3 text-info">Bedrukking, aantal kleuren {{ print_type }}</h4>
            {% if update %}
        <h6 class="mb-3">{{ printproject_printing_cover }}</h6>
        {% endif %}
        </div>
    </div>
    <!-- ===============================================-->
    <!--   Row print front -->
    <!-- ===============================================-->
    <div class="row" id="print_front">
    <p class="mb-1 text-info">{{ print_front }}</p>

        <!-- ===============================================-->
        <!--   Print choice -->
        <!-- ===============================================-->
        <div class="col-sm-6 col-md-3">
            <label class="form-label" id="print_front_label_cover" for="print_front">Bedrukking {{ print_front }}</label>
            <select class="form-select" id="print_front" name="print_front">
                {% for i in print_choices %}
                      <option value="{{ i.value }}">{{ i.text }}</option>
                {% endfor %}
            </select>
        </div>

        <!-- ===============================================-->
        <!--   PMS colors front cover-->
        <!-- ===============================================-->
            <div class="col-sm-6 col-md-3">
                <label class="form-label" id="number_pms_colors_cover_label" for="number_pms_colors_front">Aantal PMS kleuren
                    {{ print_front }}</label>
                <input type="text" class="form-control" id="number_pms_colors_front" name="number_pms_colors_front"
                       placeholder=0 value=0>
            </div>
        <!-- ===============================================-->
        <!--   Pressvarnish front cover-->
        <!-- ===============================================-->
        <div class="col-sm-6 col-md-3">
            <label class="form-label" id="pressvarnish_cover_label" for="pressvarnish_front">Vernis {{ print_front }}</label>
            <select class="form-select" id="pressvarnish_front" name="pressvarnish_front" data-value=0>
                                 {% if update %}
                    <option value={{  printproject.pressvarnish_front }}>Wijzig persvernis voorzijde</option>
                {% endif %}
                {% for i in pressvarnish_choices %}
                      <option value="{{ i.value }}">{{ i.text }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <!-- ===============================================-->
    <!--   Row print back cover -->
    <!-- ===============================================-->
<br>
    <div class="row" id="print_back">
    <p class="mb-1 text-info">{{ print_back }}</p>
    </div>

    <div class="row">
            <div class="col-sm-6 col-md-3">
                <label class="form-label" id="print_back_cover" for="print_back">Bedrukking {{ print_back }}</label>
                <select class="form-select" id="print_back" name="print_back">
                    {% for i in print_choices %}
                          <option value="{{ i.value }}">{{ i.text }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-sm-6 col-md-3">
                <label class="form-label" id="number_pms_colors_back_cover" for="number_pms_colors_back">Aantal PMS kleuren
                    {{ print_back}}</label>
                <input type="text" class="form-control" id="number_pms_colors_back" name="number_pms_colors_back"
                       placeholder=0 value=0>
            </div>
        <div class="col-sm-6 col-md-3">
            <label class="form-label" id="pressvarnish_back_cover" for="pressvarnish_back">Persvernis {{ print_back }}</label>
            <select class="form-select" id="pressvarnish_back" name="pressvarnish_back">
                                 {% if update %}
                    <option value={{  printproject.pressvarnish_back }}>Wijzig persvernis {{ print_back }}</option>
                {% endif %}
                {% for i in pressvarnish_choices %}
                      <option value="{{ i.value }}">{{ i.text }}</option>
                {% endfor %}
            </select>
        </div>
        </div>
    </div>
    <hr class="text-info"><br>

</body>
</html>