<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <title>Offers table producers</title>
</head>
<body>
<div id="producerOfferTable"
     data-list='{"valueNames":["offer_id","project_title","printmanager"],"page":{{ offer_pagination }},"pagination":true}'>
    <div class="mb-4">
        <div class="row g-3">
            <div class="col-auto">
                <div class="search-box">
                    <form class="position-relative" data-bs-toggle="search" data-bs-display="static">
                        <input class="form-control search-input search" type="search"
                               placeholder="Zoek aanbieding" aria-label="Search"/>
                        <span class="fas fa-search search-box-icon"></span>
                    </form>
                </div>
            </div>
            <div class="col-auto scrollbar overflow-hidden-y flex-grow-1">
                <div class="col-auto">
                    {#                        <a class="btn btn-info px-5 px-sm-5" href="{% url 'welcome' %}"><span#}
                    {#                                class="fa-solid fa-file-export fs--1 me-2"></span>Export</a>#}
                    {% if offers.count > 0 %}
                        <a class="btn btn-warning px-5 px-sm-5" href="{% url 'producer_download_offers' %}"><span
                                class="fa-solid fa-download fs--1 me-2"></span>Download</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>


<!-- ===============================================-->
<!--    Table-->
<!-- ===============================================-->

<div class="col-12 rounded-2 border border-info">
    <div class="card h-100">
        <div class="card-body">
            <div class="table-responsive scrollbar mx-n1 px-1">
                <h3 class="mb-0 text-info">{{ offer_table_title }}</h3>
                <table class="table table-sm fs--1 mb-0">
                    <thead>
                    <tr>
                        <th class="white-space-nowrap align-middle pe-3" scope="col" data-sort="printproject_id"
                            style="width:5%;">Details
                        <th class="sort white-space-nowrap align-middle pe-3" scope="col"
                            data-sort="offer_id"
                            style="width:5%;">Offerte id
                        </th>
                        <th class="sort white-space-nowrap align-middle pe-3" scope="col"
                            data-sort="offer_id"
                            style="width:5%;">Aangevraagd
                        </th>
                         <th class="sort align-middle text-start" scope="col" data-sort="printmanager"
                            style="width:15%;">
                            Opdrachtgever
                        </th>
                        <th class="sort white-space-nowrap align-middle pe-3" scope="col"
                            data-sort="project_title"
                            style="width:15%;">Omschrijving
                        </th>
                       
                        <th class="align-middle text-start pe-3" scope="col"
                            style="width:10%; min-width: 100px;">Aanbieding
                        </th>
                        <th class="sort align-middle ps-0" data-sort="status" scope="col"
                            style="width:10%; ">
                            Status
                        </th>

                        <th class="align-middle text-start pe-0" scope="col" style="width:10%;">
                            Offerte<br>uitbrengen/<br>uitgebracht
                        </th>
                        <th class="align-middle text-start pe-0" scope="col" style="width:5%;">Download<br>aanbieding
                        </th>
                         <th class="align-middle text-start pe-0" scope="col" style="width:5%;">Calculatie<br>details
                        </th>
                        <th class="align-middle text-start pe-0" scope="col" style="width:5%;">Verwijderen
                        </th>
                    </tr>
                    </thead>

                    <tbody class="list" id="offer-table-body">
                    {% for offer in offers %}
                        <tr class="hover-actions-trigger btn-reveal-trigger position-static">
                            <td class="align-middle white-space-nowrap task ps-0 py-0"><a
                                    href="{% url 'producer_offer_details' offer.offer_id %}"
                                    class="btn btn-outline-info btn-sm me-1 mb-1" role="button" aria-pressed="true"><i
                                    class="fas fa-info text-info fs-1"></i></a></td>
                            <td class="offer_id align-middle white-space-nowrap py-0">{{ offer.offer_id }}</td>
                        
                            <td class="rfq_date align-middle fw-semi-bold text-1000">{{ offer.offer_date |date:'d-m-Y ' }}</td>
                         <td class="printmanager align-middle white-space-nowrap py-0">{{ offer.member.company }}</td>
                            <td class="project_title align-middle white-space-nowrap py-0">{{ offer.printproject.volume }}
                                ex. {{ offer.printproject.project_title }}</td>

                            <td class="align-middle white-space-nowrap py-0">
                                {% if offer.offer %}€ {{ offer.offer }}{% else %}-{% endif %}</td>

                            <td class="align-middle white-space-nowrap py-0">{{ offer.offerstatus.offerstatus }}</td>

                            <td class="align-middle white-space-nowrap task ps-0 py-0 fw-semi-bold text-1000">
                                {% if offer.offerstatus_id == 1 %}
                                    <a
                                            href="{% url 'offer_producers_update' offer.offer_id %}"
                                            class="btn btn-outline-success btn-sm me-1 mb-1" role="button"
                                            aria-pressed="true"><i
                                            class="fas fa-calculator text-success fs-1"></i></a>
                                    {% elif offer.created %}{{ offer.offer_date |date:'d-m-Y ' }}{% else %}-

                                {% endif %}
                            </td>
                            
                            <td class="align-middle white-space-nowrap task ps-0 py-0">
                                {% if offer.offer_id %}
                                <a
                                    href="{% url 'producer_download_offer' offer.offer_id %}"
                                    class="btn btn-outline-info btn-sm me-1 mb-1" role="button"
                                    aria-pressed="true"><i
                                    class="fas fa-file-word text-info fs-1"></i></a>
                            {% else %}-{% endif %}</td>
                            
                           
                            <td class="align-middle white-space-nowrap task ps-0 py-0">
                                 {% if offer.calculation_id %}
                                <a href="{% url 'producer_calculationdetails' offer.calculation_id %}"
                                    class="btn btn-outline-warning btn-sm me-1 mb-1" role="button"
                                    aria-pressed="true"><i
                                    class="fas fa-calculator text-warning fs-1"></i></a>
                            {% else %}-{% endif %}</td>
                        
                            <td class="align-middle white-space-nowrap task ps-0 py-0"><a
                                    href="{% url 'close_offer' offer.offer_id %}"
                                    class="btn btn-outline-danger btn-sm me-1 mb-1" role="button"
                                    aria-pressed="true"><i class="fas fa-trash text-danger fs-1"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="row align-items-center justify-content-between py-2 pe-0 fs--1">
                <div class="col-auto d-flex">
                    <p class="mb-0 d-none d-sm-block me-3 fw-semi-bold text-900"
                       data-list-info="data-list-info"></p><a class="fw-semi-bold text-info" href="#producerOfferTable"
                                                              data-list-view="*">Toon
                    alles<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a><a
                        class="fw-semi-bold d-none text-info" href="#producerOfferTable" data-list-view="less">Toon
                    minder<span
                            class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a>
                </div>
                <div class="col-auto d-flex">
                    <button class="page-link" data-list-pagination="prev"><span
                            class="fas fa-chevron-left"></span></button>
                    <ul class="mb-0 pagination"></ul>
                    <button class="page-link pe-0" data-list-pagination="next"><span
                            class="fas fa-chevron-right"></span></button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>