<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Printproject Detail table</title>
</head>
<body>

</body>
</html>

<!-- ===============================================-->
<!--    Printproject Detail table -->
<!-- ===============================================-->
<div class="p-4 mb-0 rounded-2 border border-info bg-white">
    <div class="row g-4">
        <div class="px-0">
            <div class="table-responsive scrollbar">
                <table class="table table-sm text-900 mb-0 table-bordered">
                    <thead class="bg-200">
                    <tr>
                        <th scope="col" style="width: 25px;"></th>
                        <th scope="col" style="width: 150px;">Calculatie ID: {{ calculation.calculation_id }}</th>
                        <th scope="col" style="width: 50px;">{{ calculation.volume }} ex</th>
                        <th scope="col" style="width: 50px;">1.000 ex meer</th>
                        <th scope="col" style="width: 250px;">Omschrijving</th>
                        <th scope="col" style="width: 25px;"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% include 'producers/tables/calculationdetails_components/general.html' %}

                    {% if calculation.productcategory_id in categories_selfcovers %}
                        {% include 'producers/tables/calculationdetails_components/booklet.html' %}
                    {% endif %}

                    {% if calculation.productcategory_id in categories_plano %}
                        {% include 'producers/tables/calculationdetails_components/plano.html' %}
                    {% endif %}

                     {% if calculation.productcategory_id in categories_brochures_all %}
                        {% include 'producers/tables/calculationdetails_components/cover.html' %}
                     {% endif %}

                    {% include 'producers/tables/calculationdetails_components/logistics.html' %}

                    {% if calculation.productcategory_id in categories_brochures_all %}

                    {% endif %}



                    {% if calculation.productcategory_id in categories_selfcovers %}
                        {% include 'producers/tables/calculationdetails_components/paper_booklet.html' %}
                    {% endif %}

                    {% if calculation.productcategory_id in categories_plano %}
                        {% include 'producers/tables/calculationdetails_components/paper_plano.html' %}
                    {% endif %}

                     {% if calculation.productcategory_id in categories_brochures_all %}
                        {% include 'producers/tables/calculationdetails_components/paper_cover.html' %}
                     {% endif %}



                  <tr>
                        <td class="border-0"></td>
                        <td class="align-middle">
                            <p class="line-clamp-1 mb-0 fw-semi-bold"><br></p>
                        </td>
                    </tr>




                    </tbody>
                </table>
            </div>
            <hr class="text-info">
        </div>
    </div>
</div>
<!-- ===============================================-->
<!--    End Printproject Detail table -->
<!-- ===============================================-->