<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>producercontact table</title>
</head>
<body>
<div class="col-12 rounded-2 border border-info">
    <div class="card h-100">
        <div class="card-body">
            <div class="table-responsive scrollbar mx-n1 px-1">
                <h3 class="mb-0 text-info">Contacten {{ producer.company }}</h3>
                <p>
                <h5 class="mb-0 text">Eigen contacten, worden niet gedeeld met andere deelnemers op het
                    PrintDataPlatform</h5></p>
                <hr>
                <table class="table table-sm fs--1 mb-0">
                    <thead>
                    <tr>
                        <th class="sort white-space-nowrap align-middle pe-3" scope="col" data-sort="printproject_id"
                            style="width:25%;">Naam
                        </th>
                        <th class="sort white-space-nowrap align-middle pe-3" scope="col"
                            style="width:25%;">Functie
                        </th>
                        <th class="sort align-middle text-start pe-3" scope="col" data-sort="printprojectstatus"
                            style="width:10%; min-width: 100px;">Email
                        </th>
                        <th class="sort align-middle ps-0" scope="col" data-sort="customer" style="width:15%; ">Mobiel
                        </th>
                        <th class="sort align-middle text-start" scope="col" data-sort="productcategory"
                            style="width:10%;">LinkedIn
                        </th>
                        <th class="align-middle text-start pe-0" scope="col" style="width:5%;">Facebook</th>
                        <th class="align-middle text-start pe-0" scope="col" style="width:5%;">Acties</th>
                    </tr>
                    </thead>

                    <tbody class="list" id="order-table-body">
                    {% for producercontact in producercontact_list %}
                        <tr class="hover-actions-trigger btn-reveal-trigger position-static">

                            <td class="printproject_id align-middle white-space-nowrap py-0">{{ producercontact.producercontact }}</td>
                            <td class="printproject_id align-middle white-space-nowrap py-0">{{ producercontact.jobtitle }}</td>
                            <td class="printproject_id align-middle white-space-nowrap py-0">{{ producercontact.e_mail_personal }}</td>
                            <td class="printproject_id align-middle white-space-nowrap py-0">{{ producercontact.mobile_number }}</td>
                            <td class="printprojectstatus align-middle white-space-nowrap text-start fw-bold text-700">
                            <td class="printproject_id align-middle white-space-nowrap py-0"><span
                                    class="badge-label">{{ producercontact.linkedin_url }}</span><span class="ms-1"
                                                                                                       style="height:12.8px;width:12.8px;"></span>
                            </td>
                            <td class="align-middle white-space-nowrap text-end pe-0 ps-5">
                                <div class="font-sans-serif btn-reveal-trigger position-static">
                                    <button class="btn btn-sm dropdown-toggle dropdown-caret-none transition-none btn-reveal fs--2"
                                            type="button" data-bs-toggle="dropdown"
                                            data-boundary="window" aria-haspopup="true"
                                            aria-expanded="false" data-bs-reference="parent"><span
                                            class="fas fa-ellipsis-h fs--2"></span></button>
                                    <div class="dropdown-menu dropdown-menu-end py-2">
                                        <a class="dropdown-item text-warning"
                                           href="{% url 'update_producercontact' producercontact.producercontact_id %}">Update</a>

                                        {% comment %}<a class="dropdown-item text-info"
                                                           href="{% url 'update_client' client.client_id %}">Wijzigen</a>{% endcomment %}
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item text-danger"
                                           href="{% url 'delete_producercontact' producercontact.producercontact_id %}">Verwijderen</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="row align-items-center justify-content-between py-2 pe-0 fs--1">
                <div class="col-auto d-flex">
                    <p class="mb-0 d-none d-sm-block me-3 fw-semi-bold text-900" data-list-info="data-list-info"></p><a
                        class="fw-semi-bold text-info" href="#!" data-list-view="*">Toon alles<span
                        class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a><a
                        class="fw-semi-bold d-none text-info" href="#!" data-list-view="less">Toon minder<span
                        class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a>
                </div>
                <div class="col-auto d-flex">
                    <button class="page-link" data-list-pagination="prev"><span class="fas fa-chevron-left"></span>
                    </button>
                    <ul class="mb-0 pagination"></ul>
                    <button class="page-link pe-0" data-list-pagination="next"><span
                            class="fas fa-chevron-right"></span></button>
                </div>
            </div>
            <hr>
            <a type="button" href="{% url 'create_producercontact' producer.producer_id %}"
               class="btn btn-info me-1 mb-1">Contact toevoegen</a>
        </div>
    </div>
</div>
</body>
</html>