<!DOCTYPE html>
{% extends 'skins/skin.html' %}
{% load static %}
<html lang="nl" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>offer member details</title>
</head>
<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
{% block main_content %}
    <body>
    <!-- ===============================================-->
    <!--    Header-->
    <!-- ===============================================-->
    <div class="content">

        <!-- ===============================================-->
        <!--   New project details -->
        <!-- ===============================================-->
        <!-- ============================================-->
        <!-- <section> begin ============================-->
        <section class="pt-5 pb-9 bg-white dark__bg-1200 border-top border-300">
            <div class="container-small">
                <div class="d-flex justify-content-between align-items-end mb-4">
                    <h2 class="mb-0 text-info">{{ printproject_title }}</h2>
                </div>
                <!-- ===============================================-->
                <!--    Printproject Detail table -->
                <!-- ===============================================-->
                {% include 'printprojects/tables/printproject_detailtable.html' %}
                <!-- ===============================================-->
                <!--    End Printproject Detail table -->
                <!-- ===============================================-->
            </div>
        </section>


        <section class="pt-5 pb-9 bg-white dark__bg-1200 border-top border-300">
        <div class="container-small">
                    {% if offer.offerstatus_id in offer_availeble %}
                        <div class="p-4 mb-0 rounded-2 border border-info bg-white">
                         <div class="d-flex justify-content-between align-items-end mb-4">
                    <h2 class="mb-0 text-info">Aanbieding van:  {{ offer.producer.company }} </h2>
                </div>
                    {% include 'offers/offer_detailtable.html' %}
                          {% endif %}
                <!-- ===============================================-->
                <!--    Offer Detail table -->
                <!-- ===============================================-->

        
                <!-- ===============================================-->
                <!--    End OfferDetail table -->
                <!-- ===============================================-->
            </div></div></section>
      
        <!-- end of .container-->
        <!-- <section> close ============================-->
        <!-- ============================================-->
    </div>

    </body>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->
{% endblock %}