<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="nl" dir="ltr">
<!-- ===============================================-->
<!--    Skin for menu, footer etc.-->
<!-- ===============================================-->
{% block skin %}

    <main class="main" id="top">
        <div class="container-fluid px-0">
            <nav class="navbar navbar-vertical navbar-expand-lg">
                <div class="collapse navbar-collapse" id="navbarVerticalCollapse">
                    <div class="collapse navbar-collapse" id="navbarVerticalCollapse">
                        <!-- scrollbar removed-->
                        <div class="navbar-vertical-content">
                            <ul class="navbar-nav flex-column" id="navbarVerticalNav">
                                <li class="nav-item">

                                    <!-- member dashboard-->
                                    <p class="navbar-vertical-label fs-8">{{ site_name }}
                                    </p>
                                    <div class="nav-item-wrapper"><a class="nav-link label-1"
                                            {% if user.member.member_plan_id in producer_memberplans %}
                                                                     href="{% url 'producer_sales_dashboard' 0 %}"  {% else %}
                                                                     href="{% url 'printdataplatform_dashboard' %}"
                                            {% endif %}
                                                                     role="button" data-bs-toggle=""
                                                                     aria-expanded="false">
                                        <div class="d-flex align-items-center"><span class="nav-link-icon"><span
                                                class="fas fa-home fs-3"></span></span><span
                                                class="nav-link-text-wrapper"><span
                                                class="nav-link-text fs-8">Home </span></span>
                                        </div>
                                    </a>
                                    </div>
                                    <!-- parent pages-->

                                <li class="nav-item">
                                    {% if user.member.member_plan_id in producer_memberplans %}
                                        <!-- label-->
                                        <p class="navbar-vertical-label fs-8">Sales dashboard</p>
                                        <hr class="navbar-vertical-line"/>

                                        <!-- Offers, for producers-->
                                        <div class="nav-item-wrapper"><a class="nav-link dropdown-indicator label-1"
                                                                         href="#sales_dashboard" role="button"
                                                                         data-bs-toggle="collapse" aria-expanded="false"
                                                                         aria-controls="project-management">
                                            <div class="d-flex align-items-center">
                                                <div class="dropdown-indicator-icon"><span
                                                        class="fas fa-caret-right fs-3"></span></div>
                                                <span class="nav-link-icon"><span class="far fa-handshake fs-3"></span></span><span
                                                    class="nav-link-text fs-8">Uitgebrachte offertes</span>
                                            </div>
                                        </a>
                                            <div class="parent-wrapper label-1">
                                                <ul class="nav collapse parent" data-bs-parent="#navbarVerticalCollapse"
                                                    id="sales_dashboard">
                                                    <li class="collapsed-nav-item-title d-none">Offertes</li>
                                                    <li class="nav-item"><a class="nav-link"
                                                                            href="{% url 'producer_offers' 0 %}"
                                                                            data-bs-toggle="" aria-expanded="false">
                                                        <div class="d-flex align-items-center"><span
                                                                class="nav-link-text fs-8">Alle aanbiedingen</span>
                                                        </div>
                                                    </a>
                                                        <!-- open orders-->
                                                    </li>
                                                    <li class="nav-item"><a class="nav-link"
                                                                            href="{% url 'producer_offers' 1 %}"
                                                                            data-bs-toggle="" aria-expanded="false">
                                                        <div class="d-flex align-items-center"><span
                                                                class="nav-link-text fs-8">In aanvraag</span>
                                                        </div>
                                                    </a>
                                                        <!-- production orders-->
                                                    </li>
                                                    <li class="nav-item"><a class="nav-link"
                                                                            href="{% url 'producer_offers' 2 %}"
                                                                            data-bs-toggle="" aria-expanded="false">
                                                        <div class="d-flex align-items-center"><span
                                                                class="nav-link-text fs-8">In productie</span>
                                                        </div>
                                                    </a>
                                                        <!-- closed orders-->
                                                    </li>
                                                    <li class="nav-item"><a class="nav-link"
                                                                            href="{% url 'producer_offers' 3 %}"
                                                                            data-bs-toggle="" aria-expanded="false">
                                                        <div class="d-flex align-items-center"><span
                                                                class="nav-link-text fs-8">Gesloten</span>
                                                        </div>
                                                    </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                        <!-- Orders insourced, for producers-->
                                        <div class="nav-item-wrapper"><a class="nav-link dropdown-indicator label-1"
                                                                         href="#producer_orders" role="button"
                                                                         data-bs-toggle="collapse" aria-expanded="false"
                                                                         aria-controls="project-management">
                                            <div class="d-flex align-items-center">
                                                <div class="dropdown-indicator-icon"><span
                                                        class="fas fa-caret-right fs-3"></span></div>
                                                <span class="nav-link-icon"><span class="fas fa-cart-plus fs-3"></span></span><span
                                                    class="nav-link-text fs-8">Orders ontvangen</span>
                                            </div>
                                        </a>
                                            <div class="parent-wrapper label-1">
                                                <ul class="nav collapse parent" data-bs-parent="#navbarVerticalCollapse"
                                                    id="producer_orders">
                                                    <li class="collapsed-nav-item-title d-none">Orders
                                                    </li>
                                                    <li class="nav-item"><a class="nav-link"
                                                                            href="{% url 'producer_orders' 0 %}"
                                                                            data-bs-toggle="" aria-expanded="false">
                                                        <div class="d-flex align-items-center"><span
                                                                class="nav-link-text fs-8">Alle orders</span>
                                                        </div>
                                                    </a>
                                                        <!-- open orders-->
                                                    </li>
                                                    <li class="nav-item"><a class="nav-link"
                                                                            href="{% url 'producer_orders' 1 %}"
                                                                            data-bs-toggle="" aria-expanded="false">
                                                        <div class="d-flex align-items-center"><span
                                                                class="nav-link-text fs-8">In aanvraag</span>
                                                        </div>
                                                    </a>
                                                        <!-- production orders-->
                                                    </li>
                                                    <li class="nav-item"><a class="nav-link"
                                                                            href="{% url 'producer_orders' 2 %}"
                                                                            data-bs-toggle="" aria-expanded="false">
                                                        <div class="d-flex align-items-center"><span
                                                                class="nav-link-text fs-8">In productie</span>
                                                        </div>
                                                    </a>
                                                        <!-- closed orders-->
                                                    </li>
                                                    <li class="nav-item"><a class="nav-link"
                                                                            href="{% url 'producer_orders' 3 %}"
                                                                            data-bs-toggle="" aria-expanded="false">
                                                        <div class="d-flex align-items-center"><span
                                                                class="nav-link-text fs-8">Gesloten</span>
                                                        </div>
                                                    </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- Account-->
                                        <li class="nav-item">
                                            <!-- label-->
                                            <p class="navbar-vertical-label fs-8">Errors
                                            </p>
                                            <hr class="navbar-vertical-line"/>

                                            <!-- producer clients-->
                                            <div class="nav-item-wrapper"><a class="nav-link label-1"
                                                                             href="{% url 'producer_calculation_errors' %}"
                                                                             role="button" data-bs-toggle=""
                                                                             aria-expanded="false">
                                                <div class="d-flex align-items-center"><span class="nav-link-icon"><span
                                                        class="far fa-grimace fs-3"></span></span><span
                                                        class="nav-link-text-wrapper"><span class="nav-link-text fs-8">Errors</span></span>
                                                </div>
                                            </a>
                                            </div>


                                            <!-- Account-->
                                        <li class="nav-item">
                                        <!-- label-->
                                        <p class="navbar-vertical-label fs-8">Opdrachtgevers</p>


                                        <!-- producer clients-->
                                        {% if producer.exclusive_module %}
                                            <div class="nav-item-wrapper"><a class="nav-link label-1"
                                                                             href="{% url 'producer_exlusive_members' %}"
                                                                             role="button" data-bs-toggle=""
                                                                             aria-expanded="false">
                                                <div class="d-flex align-items-center"><span class="nav-link-icon"><span
                                                        class="fas fa-users fs-3"></span></span><span
                                                        class="nav-link-text-wrapper"><span
                                                        class="nav-link-text fs-8">{{ producer.company }}</span></span>
                                                </div>
                                            </a>
                                            </div>
                                        {% endif %}
                                        <div class="nav-item-wrapper"><a class="nav-link label-1"
                                                                         href="{% url 'producer_open_members' %}"
                                                                         role="button" data-bs-toggle=""
                                                                         aria-expanded="false">
                                            <div class="d-flex align-items-center"><span class="nav-link-icon"><span
                                                    class="fas fa-users fs-3"></span></span><span
                                                    class="nav-link-text-wrapper"><span class="nav-link-text fs-8">PrintDataPlatform</span></span>
                                            </div>
                                        </a>
                                        </div>

                                    {% endif %}

                                    <!-- Open members printprojects-->
                                    {% if user.member.member_plan_id in non_exclusive_memberplans %}

                                        <hr class="navbar-vertical-line"/>
                                        <!-- Printprojects-->
                                        <div class="nav-item-wrapper"><a class="nav-link dropdown-indicator label-1"
                                                                         href="#project-management" role="button"
                                                                         data-bs-toggle="collapse" aria-expanded="false"
                                                                         aria-controls="project-management">
                                            <div class="d-flex align-items-center">
                                                <div class="dropdown-indicator-icon"><span
                                                        class="fas fa-caret-right fs-3"></span></div>
                                                <span class="nav-link-icon"><span
                                                        class="far fa-list-alt fs-3"></span></span><span
                                                    class="nav-link-text fs-8">Printprojecten</span>
                                            </div>
                                        </a>
                                            <div class="parent-wrapper label-1">
                                                <ul class="nav collapse parent" data-bs-parent="#navbarVerticalCollapse"
                                                    id="project-management">
                                                    <li class="collapsed-nav-item-title d-none">Printprojecten
                                                    </li>
                                                    <li class="nav-item"><a class="nav-link"
                                                                            href="{% url 'printproject_dashboard' 0 %}"
                                                                            data-bs-toggle="" aria-expanded="false">
                                                        <div class="d-flex align-items-center"><span
                                                                class="nav-link-text">Alle projecten</span>
                                                        </div>
                                                    </a>
                                                        <!-- more inner pages-->
                                                    </li>
                                                    <li class="nav-item"><a class="nav-link"
                                                                            href="{% url 'printproject_dashboard' 1 %}"
                                                                            data-bs-toggle="" aria-expanded="false">
                                                        <div class="d-flex align-items-center"><span
                                                                class="nav-link-text">Open</span>
                                                        </div>
                                                    </a>
                                                        <!-- more inner pages-->
                                                    </li>
                                                    <li class="nav-item"><a class="nav-link"
                                                                            href="{% url 'printproject_dashboard' 2 %}"
                                                                            data-bs-toggle="" aria-expanded="false">
                                                        <div class="d-flex align-items-center"><span
                                                                class="nav-link-text">Aangevraagd</span>
                                                        </div>
                                                    </a>
                                                        <!-- more inner pages-->
                                                    </li>
                                                    <li class="nav-item"><a class="nav-link"
                                                                            href="{% url 'printproject_dashboard' 3 %}"
                                                                            data-bs-toggle="" aria-expanded="false">
                                                        <div class="d-flex align-items-center"><span
                                                                class="nav-link-text">In productie</span>
                                                        </div>
                                                    </a>
                                                        <!-- more inner pages-->
                                                    </li>
                                                    <li class="nav-item"><a class="nav-link"
                                                                            href="{% url 'printproject_dashboard' 4 %}"
                                                                            data-bs-toggle="" aria-expanded="false">
                                                        <div class="d-flex align-items-center"><span
                                                                class="nav-link-text">Gesloten</span>
                                                        </div>
                                                    </a>
                                                        <!-- more inner pages-->
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    {% endif %}


                                    <!-- Exclusive members offers-->
                                    {% if user.member_plan_id in open_memberplans %}

                                        <hr class="navbar-vertical-line"/>
                                        <!-- Printprojects-->
                                        <div class="nav-item-wrapper"><a class="nav-link dropdown-indicator label-1"
                                                                         href="#project-management" role="button"
                                                                         data-bs-toggle="collapse" aria-expanded="false"
                                                                         aria-controls="project-management">
                                            <div class="d-flex align-items-center">
                                                <div class="dropdown-indicator-icon"><span
                                                        class="fas fa-caret-right fs-3"></span></div>
                                                <span class="nav-link-icon"><span
                                                        class="far fa-list-alt fs-3"></span></span><span
                                                    class="nav-link-text fs-8">Aanbiedingen</span>
                                            </div>
                                        </a>
                                            <div class="parent-wrapper label-1">
                                                <ul class="nav collapse parent" data-bs-parent="#navbarVerticalCollapse"
                                                    id="project-management">
                                                    <li class="collapsed-nav-item-title d-none">Aanvragen
                                                    </li>
                                                    <li class="nav-item"><a class="nav-link"
                                                                            href="{% url 'offer_dashboard' 0 %}"
                                                                            data-bs-toggle="" aria-expanded="false">
                                                        <div class="d-flex align-items-center"><span
                                                                class="nav-link-text">Alle aanvragen</span>
                                                        </div>
                                                    </a>
                                                        <!-- more inner pages-->
                                                    </li>
                                                    <li class="nav-item"><a class="nav-link"
                                                                            href="{% url 'offer_dashboard' 1 %}"
                                                                            data-bs-toggle="" aria-expanded="false">
                                                        <div class="d-flex align-items-center"><span
                                                                class="nav-link-text">Aangevraagd</span>
                                                        </div>
                                                    </a>
                                                        <!-- more inner pages-->
                                                    </li>
                                                    <li class="nav-item"><a class="nav-link"
                                                                            href="{% url 'offer_dashboard' 2 %}"
                                                                            data-bs-toggle="" aria-expanded="false">
                                                        <div class="d-flex align-items-center"><span
                                                                class="nav-link-text">Uitgebracht</span>
                                                        </div>
                                                    </a>
                                                        <!-- more inner pages-->
                                                    </li>
                                                    <li class="nav-item"><a class="nav-link"
                                                                            href="{% url 'offer_dashboard' 3 %}"
                                                                            data-bs-toggle="" aria-expanded="false">
                                                        <div class="d-flex align-items-center"><span
                                                                class="nav-link-text">In productie</span>
                                                        </div>
                                                    </a>
                                                        <!-- more inner pages-->
                                                    </li>
                                                    <li class="nav-item"><a class="nav-link"
                                                                            href="{% url 'offer_dashboard' 4 %}"
                                                                            data-bs-toggle="" aria-expanded="false">
                                                        <div class="d-flex align-items-center"><span
                                                                class="nav-link-text">Gesloten</span>
                                                        </div>
                                                    </a>
                                                        <!-- more inner pages-->
                                                    </li>
                                                    <li class="nav-item"><a class="nav-link"
                                                                            href="{% url 'offer_dashboard' 5 %}"
                                                                            data-bs-toggle="" aria-expanded="false">
                                                        <div class="d-flex align-items-center"><span
                                                                class="nav-link-text">Geweigerd</span>
                                                        </div>
                                                    </a>
                                                        <!-- more inner pages-->
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        {# {% endif %}#}

                                        <!-- Orders outsourced-->

                                        <div class="nav-item-wrapper"><a class="nav-link dropdown-indicator label-1"
                                                                         href="#order-management" role="button"
                                                                         data-bs-toggle="collapse" aria-expanded="false"
                                                                         aria-controls="project-management">
                                            <div class="d-flex align-items-center">
                                                <div class="dropdown-indicator-icon"><span
                                                        class="fas fa-caret-right fs-3"></span></div>
                                                <span class="nav-link-icon"><span
                                                        class="fas fa-cart-arrow-down fs-3"></span></span><span
                                                    class="nav-link-text fs-8">Orders</span>
                                            </div>
                                        </a>
                                            <div class="parent-wrapper label-1">
                                                <ul class="nav collapse parent" data-bs-parent="#navbarVerticalCollapse"
                                                    id="order-management">
                                                    <li class="collapsed-nav-item-title d-none">Orders
                                                    </li>
                                                    <li class="nav-item"><a class="nav-link"
                                                                            href="{% url 'order_dashboard' 0 %}"
                                                                            data-bs-toggle="" aria-expanded="false">
                                                        <div class="d-flex align-items-center"><span
                                                                class="nav-link-text">Alle orders</span>
                                                        </div>
                                                    </a>
                                                        <!-- open orders-->
                                                    </li>
                                                    <li class="nav-item"><a class="nav-link"
                                                                            href="{% url 'order_dashboard' 1 %}"
                                                                            data-bs-toggle="" aria-expanded="false">
                                                        <div class="d-flex align-items-center"><span
                                                                class="nav-link-text">In aanvraag</span>
                                                        </div>
                                                    </a>
                                                        <!-- production orders-->
                                                    </li>
                                                    <li class="nav-item"><a class="nav-link"
                                                                            href="{% url 'order_dashboard' 2 %}"
                                                                            data-bs-toggle="" aria-expanded="false">
                                                        <div class="d-flex align-items-center"><span
                                                                class="nav-link-text">In productie</span>
                                                        </div>
                                                    </a>
                                                        <!-- closed orders-->
                                                    </li>
                                                    <li class="nav-item"><a class="nav-link"
                                                                            href="{% url 'order_dashboard' 3 %}"
                                                                            data-bs-toggle="" aria-expanded="false">
                                                        <div class="d-flex align-items-center"><span
                                                                class="nav-link-text">Geweigerd</span>
                                                        </div>
                                                    </a>
                                                    </li>
                                                    <!-- closed orders-->
                                                    <li class="nav-item"><a class="nav-link"
                                                                            href="{% url 'order_dashboard' 4 %}"
                                                                            data-bs-toggle="" aria-expanded="false">
                                                        <div class="d-flex align-items-center"><span
                                                                class="nav-link-text">Gefactureerd</span>
                                                        </div>
                                                    </a>
                                                    </li>
                                                    <!-- closed orders-->
                                                    <li class="nav-item"><a class="nav-link"
                                                                            href="{% url 'order_dashboard' 5 %}"
                                                                            data-bs-toggle="" aria-expanded="false">
                                                        <div class="d-flex align-items-center"><span
                                                                class="nav-link-text">Gesloten</span>
                                                        </div>
                                                    </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    {% endif %}

                                    <!-- paper dashboard-->
                                <li class="nav-item">
                                    <!-- label-->
                                    <p class="navbar-vertical-label fs-8">Papier
                                    </p>
                                    <hr class="navbar-vertical-line"/>
                                    <div class="nav-item-wrapper"><a class="nav-link label-1"
                                                                     href="{% url 'paper_brands' 'All' %}" role="button"
                                                                     data-bs-toggle="" aria-expanded="false">
                                        <div class="d-flex align-items-center"><span class="nav-link-icon"><span
                                                class="fas fa-layer-group fs-3"></span></span><span
                                                class="nav-link-text-wrapper"><span class="nav-link-text fs-8"> Papier merken</span></span>
                                        </div>
                                    </a>
                                    </div>
                                    {% if user.member.member_plan_id in producer_memberplans %}
                                        <div class="nav-item-wrapper"><a class="nav-link label-1"
                                                                         href="{% url 'paper_catalog' %}" role="button"
                                                                         data-bs-toggle="" aria-expanded="false">
                                            <div class="d-flex align-items-center"><span class="nav-link-icon"><span
                                                    class="fas fa-database fs-3"></span></span><span
                                                    class="nav-link-text-wrapper"><span class="nav-link-text fs-8"> Papier prijscatalogus</span></span>
                                            </div>
                                        </a>
                                        </div>
                                    {% endif %}
                                </li>
                                <!-- Account-->
                                <li class="nav-item">
                                    <!-- label-->
                                    <p class="navbar-vertical-label fs-8">Accountoverzicht
                                    </p>
                                    <hr class="navbar-vertical-line"/>

                                    {% if user.member.member_plan_id in pro_memberplans %}
                                        <!-- parent pages-->
                                        <div class="nav-item-wrapper"><a class="nav-link label-1"
                                                                         href="{% url 'client_dashboard' %}"
                                                                         role="button" data-bs-toggle=""
                                                                         aria-expanded="false">
                                            <div class="d-flex align-items-center"><span class="nav-link-icon"><span
                                                    class="far fa-address-card fs-3"></span></span><span
                                                    class="nav-link-text-wrapper"><span class="nav-link-text fs-8">Mijn klanten</span></span>
                                            </div>
                                        </a>
                                        </div>
                                    {% endif %}
                                    {% if user.member.member_plan_id in non_exclusive_memberplans %}

                                        <!-- parent pages-->
                                        <div class="nav-item-wrapper"><a class="nav-link label-1"
                                                                         href="{% url 'producer_dashboard' %}"
                                                                         role="button" data-bs-toggle=""
                                                                         aria-expanded="false">
                                            <div class="d-flex align-items-center"><span class="nav-link-icon"><span
                                                    class="far fa-newspaper fs-3"></span></span><span
                                                    class="nav-link-text-wrapper"><span class="nav-link-text fs-8">Mijn producenten</span></span>
                                            </div>
                                        </a>
                                        </div>
                                    {% endif %}
                                    <!-- parent pages-->
                                    <div class="nav-item-wrapper"><a class="nav-link label-1"
                                                                     href="{% url 'my_account_update' user.id %}"
                                                                     role="button" data-bs-toggle=""
                                                                     aria-expanded="false">
                                        <div class="d-flex align-items-center"><span class="nav-link-icon"><span
                                                class="far fa-user fs-3"></span></span><span
                                                class="nav-link-text-wrapper"><span class="nav-link-text fs-8">Mijn profiel</span></span>
                                        </div>
                                    </a>
                                    </div>
                                    <div class="nav-item-wrapper"><a class="nav-link label-1"
                                                                     href="{% url 'my_account' user.member_id %}"
                                                                     role="button" data-bs-toggle=""
                                                                     aria-expanded="false">
                                        <div class="d-flex align-items-center"><span class="nav-link-icon"><span
                                                class="far fa-building fs-3"></span></span><span
                                                class="nav-link-text-wrapper"><span class="nav-link-text fs-8">Mijn bedrijf</span></span>
                                        </div>
                                    </a>
                                    </div>

                                    <!-- Assets production calculation-->
                                    {% if  producer.calculation_module %}

                                        <div class="nav-item-wrapper"><a class="nav-link label-1"
                                                                         href="{% url 'asset_dashboard' %}"
                                                                         role="button" data-bs-toggle=""
                                                                         aria-expanded="false">
                                            <div class="d-flex align-items-center"><span class="nav-link-icon"><span
                                                    class="fas fa-tools fs-3"></span></span><span
                                                    class="nav-link-text-wrapper"><span class="nav-link-text fs-8">Productiemiddelen</span></span>
                                            </div>
                                        </a>
                                        </div>

                                        <!-- Tariff settings-->
                                        <div class="nav-item-wrapper"><a class="nav-link label-1"
                                                                         href="{% url 'producer_tariffs' %}"
                                                                         role="button" data-bs-toggle=""
                                                                         aria-expanded="false">
                                            <div class="d-flex align-items-center"><span class="nav-link-icon"><span
                                                    class="fas fa-euro fs-3"></span></span><span
                                                    class="nav-link-text-wrapper"><span class="nav-link-text fs-8">Tarieven</span></span>
                                            </div>
                                        </a>
                                        </div>

                                        <!-- Assortiment-->

                                        <div class="nav-item-wrapper"><a class="nav-link label-1"
                                                                         href="{% url 'producer_assortiment' %}"
                                                                         role="button" data-bs-toggle=""
                                                                         aria-expanded="false">
                                            <div class="d-flex align-items-center"><span class="nav-link-icon"><span
                                                    class="fas fa-calculator fs-3"></span></span><span
                                                    class="nav-link-text-wrapper"><span class="nav-link-text fs-8">Assortiment</span></span>
                                            </div>
                                        </a>
                                        </div>
                                    {% endif %}

                                    {% if not user.member.member_plan_id in exclusive_memberplans %}
                                        <li class="nav-item">
                                            <!-- label-->
                                            <p class="navbar-vertical-label fs-8">PrintDataPlatform
                                            </p>
                                            <hr class="navbar-vertical-line"/>
                                            <!-- Info-->
                                            <div class="nav-item-wrapper"><a class="nav-link label-1"
                                                                             href="https://www.printdataplatform.nl/"
                                                                             role="button" data-bs-toggle=""
                                                                             aria-expanded="false">
                                                <div class="d-flex align-items-center"><span class="nav-link-icon"><span
                                                        class="fas fa-info fs-3"></span></span><span
                                                        class="nav-link-text-wrapper"><span class="nav-link-text fs-8">Info</span></span>
                                                </div>
                                            </a>
                                            </div>
                                            <!-- FAQ-->
{#                                            <div class="nav-item-wrapper"><a class="nav-link label-1"#}
{#                                                                             href="{% url 'faq' %}" role="button"#}
{#                                                                             data-bs-toggle="" aria-expanded="false">#}
{#                                                <div class="d-flex align-items-center"><span class="nav-link-icon"><span#}
{#                                                        class="fas fa-question-circle fs-3"></span></span><span#}
{#                                                        class="nav-link-text-wrapper"><span class="nav-link-text fs-8">FAQ</span></span>#}
{#                                                </div>#}
{#                                            </a>#}
{#                                            </div>#}
                                            <!-- events-->
{#                                            <div class="nav-item-wrapper"><a class="nav-link label-1"#}
{#                                                                             href="{% url 'events' %}" role="button"#}
{#                                                                             data-bs-toggle="" aria-expanded="false">#}
{#                                                <div class="d-flex align-items-center"><span class="nav-link-icon"><span#}
{#                                                        class="fas fa-users fs-3"></span></span><span#}
{#                                                        class="nav-link-text-wrapper"><span class="nav-link-text fs-8">Bijeenkomsten</span></span>#}
{#                                                </div>#}
{#                                            </a>#}
{#                                            </div>#}
                                            <!-- conditions -->
                                            <div class="nav-item-wrapper"><a class="nav-link label-1"
                                                                             href="{% url 'conditions' %}" role="button"
                                                                             data-bs-toggle="" aria-expanded="false">
                                                <div class="d-flex align-items-center"><span class="nav-link-icon"><span
                                                        class="fas fa-exclamation-triangle fs-3"></span></span><span
                                                        class="nav-link-text-wrapper"><span class="nav-link-text fs-8">Spelregels</span></span>
                                                </div>
                                            </a>
                                            </div>
                                        </li>
                                    {% endif %}
                            </ul>
                        </div>
                    </div>
                    <div class="navbar-vertical-footer">
                        <button class="btn navbar-vertical-toggle border-0 fw-semi-bold w-100 white-space-nowrap d-flex align-items-center">
                            <span class="uil uil-left-arrow-to-left fs-8"></span><span
                                class="uil uil-arrow-from-right fs-8"></span><span
                                class="navbar-vertical-footer-text ms-2 fs-8">Inklappen</span></button>
                    </div>
                </div>
            </nav>
            <nav class="navbar navbar-top navbar-expand" id="navbarDefault">
                <div class="collapse navbar-collapse justify-content-between">
                    <div class="navbar-logo">

                        <button class="btn navbar-toggler navbar-toggler-humburger-icon hover-bg-transparent"
                                type="button" data-bs-toggle="collapse" data-bs-target="#navbarVerticalCollapse"
                                aria-controls="navbarVerticalCollapse" aria-expanded="false"
                                aria-label="Toggle Navigation"><span class="navbar-toggle-icon"><span
                                class="toggle-line"></span></span></button>
                        <a class="navbar-brand me-1 me-sm-3"
                                {% if user.member.member_plan_id in producer_memberplans %}
                           href="{% url 'producer_sales_dashboard' 0 %}"  {% else %}
                           href="{% url 'printdataplatform_dashboard' %}"
                                {% endif %}>
                            <div class="d-flex align-items-center">
                                <div class="d-flex align-items-center">
                                    <img src="{% static img_loc_logo %}" alt="logo" width="400"/>
                                    {#                    <p class="logo-text ms-2 d-none d-sm-block">{{ site_name }}#}
                                    <small>&nbsp;&nbsp;
                                        {% now "H" as current_time %}
                                        {% if current_time|add:"0" < 12 %}
                                            Goedemorgen
                                        {% elif current_time|add:"0" < 18 %}
                                            Goedemiddag,
                                        {% else %}
                                            Goedenavond,
                                        {% endif %} {{ user.first_name }} {{ user.last_name }} </small></p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <ul class="navbar-nav navbar-nav-icons flex-row">
                        <li class="nav-item">
                            {% include 'buttons/nav_login_out.html' %}
                        </li>
                    </ul>
                </div>
            </nav>


            {% block main_content %}
                <!-- ===============================================-->
                <!--    MAIN PAGE CONTENT.-->
                <!-- ===============================================-->
            {% endblock %}
            <footer class="footer position-absolute">
                <div class="row g-0 justify-content-between align-items-center h-100">
                    <div class="col-12 col-sm-auto text-center"></div>
                    <div class="col-12 col-sm-auto text-center">
                        <p class="mb-0 mt-2 mt-sm-0 text-900"><br class="d-sm-none"/>&copy; 2024<br class="d-sm-none"/>
                            <span class="d-none d-sm-inline-block mx-1">|</span> <a class="mx-1 text-info"
                                                                                    href="https://www.printdataplatform.nl/"
                                                                                    target=”_blank”>PrintDataPlatform</a>
                        </p>
                    </div>
                    <div class="col-12 col-sm-auto text-center">
                        <p class="mb-0 text-600">{{ site_name }}</p>
                    </div>
                </div>
            </footer>
        </div>
        <script>
            const navbarTopStyle = window.config.config.phoenixNavbarTopStyle;
            const navbarTop = document.querySelector('.navbar-top');
            if (navbarTopStyle === 'darker') {
                navbarTop.classList.add('navbar-darker');
            }

            const navbarVerticalStyle = window.config.config.phoenixNavbarVerticalStyle;
            const navbarVertical = document.querySelector('.navbar-vertical');
            if (navbarVertical && navbarVerticalStyle === 'darker') {
                navbarVertical.classList.add('navbar-darker');
            }
        </script>

    </main>
    <!-- ===============================================-->
    <!--    End of Menu skin-->
    <!-- ===============================================-->
{% endblock %}
</html>