<!DOCTYPE html>
{% extends 'skins/skin_members.html' %}
{% load static %}
<html lang="nl" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>PrintDataPlatform dashboard</title>
</head>

<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
{% block main_content %}

    <body>
    <!-- ===============================================-->
    <!--    Header-->
    <!-- ===============================================-->
    <div class="content">
        <nav class="mb-2" aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a class="text-info"
                                               href="{% url 'welcome' %}">Dashboard {{ user.company }}</a>
                </li>
                <li class="breadcrumb-item active">PrintDataPlatform dashboard</li>
            </ol>
        </nav>
        <div class="mb-9">
            <div class="row g-3 mb-4">
                <div class="col-auto">
                    <h2 class="mb-0 text-info">PrintDataPlatform dashboard</h2>
                </div>
            </div>
                            <hr class="text-info">
                <br>
            <ul class="nav nav-links mb-3 mb-lg-2 mx-n3">
                <li class="nav-item"><a class="nav-link px-2 py-1 text-warning"
                                        href="{% url 'printproject_dashboard' 0 %}">Alles<span
                        class="text-700 fw-semi-bold">({{ open_projects }})</span></a></li>
                <li class="nav-item"><a class="nav-link px-2 py-1 text-info"
                                        href="{% url 'printproject_dashboard' 1 %}">Open<span
                        class="text-700 fw-semi-bold">({{ open_projects }})</span></a></li>
                <li class="nav-item"><a class="nav-link px-2 py-1 text-info"
                                        href="{% url 'printproject_dashboard' 2 %}">Aangevraagd<span
                        class="text-700 fw-semi-bold">({{ rfq_projects }})</span></a></li>
                <li class="nav-item"><a class="nav-link px-2 py-1 text-info"
                                        href="{% url 'printproject_dashboard' 3 %}">In productie <span
                        class="text-700 fw-semi-bold">({{ prod_projects }})</span></a></li>
                <li class="nav-item"><a class="nav-link px-2 py-1 text-info"
                                        href="{% url 'printproject_dashboard' 4 %}">Gesloten <span
                        class="text-700 fw-semi-bold">({{ closed_projects }})</span></a></li>
            </ul>
            <!-- ===============================================-->
            <!--  END  Header-->
            <!-- ===============================================-->
            <!-- ===============================================-->
            <!--    Printproject table-->
            <!-- ===============================================-->
            <div class="mb-4">
                <div class="row g-3">
                    <div class="col-auto">
                        <div class="col-auto scrollbar overflow-hidden-y flex-grow-1">
                            <div class="btn-group position-static" role="group">
                                <div class="col-auto">
                                    {% include 'buttons/projectdata_download.html' %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="text-info">
                <br>
                <!-- ===============================================-->
                <!--    Printproject store -->
                <!-- ===============================================-->
                   {% include 'homepage/components/store.html' %}
                <!-- ===============================================-->
                <!--    End Printproject store -->
                <!-- ===============================================-->

                <!-- ===============================================-->
                <!--    Printproject Table-->
                <!-- ===============================================-->
                   {% include 'printprojects/printproject_table.html' %}
                <!-- ===============================================-->
                <!--    End Printproject Table-->
                <!-- ===============================================-->

                <br>
                <!-- ===============================================-->
                <!--    Offers Table-->
                <!-- ===============================================-->
               {% include 'offers/offers_table.html' %}
                <!-- ===============================================-->
                <!--    End Printproject Table-->
                <!-- ===============================================-->

                <br>
                <!-- ===============================================-->
                <!--    Order Table-->
                <!-- ===============================================-->
                {% include 'orders/order_table.html' %}
                <!-- ===============================================-->
                <!--    End Printproject Table-->
                <!-- ===============================================-->


                <!-- ===============================================-->
                <!--    End of Main Content-->
                <!-- ===============================================-->
            </div>
        </div>
    </div>

    </body>
{% endblock %}

</html>