<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <title>Create update asset buttons</title>
</head>
<body>

<div class="container" id="submit_general">
                        <div class="row">
                            <div class="col-12 gy-3 ">
                                <div class="row g-3 justify-content-start">
                                    <div class="col-auto">
                                        <a type="button" href="{% url 'enhancement_create' %}" class="btn btn-outline-info px-5 px-sm-5">Nieuw veredelingstarief toevoegen</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
</body>
</html>

