<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>orderstatus actions</title>
</head>
<body>
    <div class="font-sans-serif btn-reveal-trigger text-start">
        <button class="btn btn-lg dropdown-toggle dropdown-caret-none transition-none btn-reveal text-start"
                type="button" data-bs-toggle="dropdown"
                data-boundary="window"
                aria-haspopup="true" aria-expanded="false"
                data-bs-reference="parent"><span
                class="fas fa-ellipsis-h fs--2"></span></button>
        <div class="dropdown-menu dropdown-menu-end py-2">
            <a class="dropdown-item text-text-info"
               href="{% url 'change_orderstatus' order.order_id 1 %}">Aangevraagd</a>
            <a class="dropdown-item text-info"
               href="{% url 'change_orderstatus' order.order_id  2 %}">In productie</a>
            <a class="dropdown-item text-success"
               href="{% url 'change_orderstatus' order.order_id  4 %}">Gefactureerd</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item text-danger"
               href="{% url 'change_orderstatus' order.order_id  3 %}">Geweigerd</a>
            <a class="dropdown-item text-danger"
               href="{% url 'change_orderstatus' order.order_id  5 %}">Geannuleerd</a>
        </div>
        </div>
</body>
</html>






