<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NewContactFirstLastname</title>
</head>
<body>
<!-- ===============================================-->
                    <!--  New contact First and lastname -->
                    <!-- ===============================================-->
                    <hr class="text-info">
                    <div class="row">
                    <h4 class="mb-3 text-info">Naam en functie</h4>
                         <h5 class="mb-3">Je kunt later meer contactpersonen toevoegen</h5>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label class="form-label" for="first_name">Voornaam:</label>
                            <p>{{ form.first_name }}</p>
                        </div>
                        <div class="col-md-4">
                            <label class="form-label" for="last_name">Achternaam:</label>
                            <p>{{ form.last_name }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label class="form-label" for="jobtitle">Functie:</label>
                            <p>{{ form.jobtitle }}</p>
                        </div>
                    </div>
</body>
</html>