<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NewContactContact</title>
</head>
<body>
                    <!-- ===============================================-->
                    <!--  General and mobile number -->
                    <!-- ===============================================-->
                    <hr class="text-info">
                    <div class="row">
                    <h4 class="mb-3 text-info">Contact</h4>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label class="form-label" for="e_mail_personal">Email:</label>
                            <p>{{ form.e_mail_personal }}</p>
                        </div>
                        <div class="col-md-4">
                            <label class="form-label" for="mobile_number">Mobiel/direct nummer:</label>
                            <p>{{ form.mobile_number }}</p>
                        </div>
                    </div>
</body>
</html>