<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Exclusive account details</title>
</head>
<body>
<br>
<div class="col-12 col-sm-auto">
        <div class="row g-4 flex-sm-column">
         <div class="col-6 col-sm-12">
            <div class="d-flex align-items-baseline mb-1"><span class="me-2" data-feather="layers"
                                                             style="stroke-width:2.5;"></span>
                <h5 class="mb-0">Plan: {{ member_plan_name }}</h5>
            </div>
        </div>
        
    {# calculation module#}
        <div class="col-6 col-sm-12">
        
            <div class="d-flex align-items-start mb-1"><span class="me-2"  
                                                             style="stroke-width:2.5;"></span>
                <p class="icon fas fa-calculator"> 
                <h5 class="mb-0">&nbsp; Calculation module:</h5>
            </div>
        
            <div class="ms-4">
                {% if producer.calculation_module == True %}
                Aan {% else %}Uit{% endif %}</div>
        </div>
        
        {# api module#}
        <div class="col-6 col-sm-12">
        
            <div class="d-flex align-items-start mb-1"><span class="me-2"  
                                                             style="stroke-width:2.5;"></span>
                <p class="icon fas fa-exchange-alt"> 
                <h5 class="mb-0">&nbsp; API module:</h5>
            </div>
            <div class="ms-4" class="fs-9 ms-4">
                {% if producer.api_module == True %}
                    Aan {% else %}Uit{% endif %} </div>
        </div>
    
     {# BI module#}
        <div class="col-6 col-sm-12">
        
            <div class="d-flex align-items-start mb-1"><span class="me-2"  
                                                             style="stroke-width:2.5;"></span>
                <p class="icon fas fa-table"> 
                <h5 class="mb-0">&nbsp; Business Intelligence module:</h5>
            </div>
        
            <div class="ms-4">
                {% if producer.powerplatform_module == True %}
                Aan {% else %}Uit{% endif %}</div>
        </div>
    </div>
</div>
</body>
</html>