{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100 border border-secondary">
        <img class="card-img-top" src="{% static "assets/img/generic/printmanager.png" %}" alt="printmanagers">
        <div class="card-body">
            <h4 class="card-title">Printmanagers</h4>
            <p class="card-text">Met een gratis account kunnen printmanagers printprojecten beheren, offertes aanvragen
                en orders plaatsen. Elke aanmelding wordt eerst beoordeeld. </p>
            <p class="card-text">
                <a class="mx-1 text-info" href="https://www.printdataplatform.nl/printmanagers" target=”_blank”>
                    Info Printmanagers</a>
            </p>
        </div>
    </div>
     </div>
  <div class="col">
        
       <div class="card h-100 border border-secondary">
        <img class="card-img-top" src="{% static "assets/img/generic/producer.png" %}"  alt="producers">
        <div class="card-body">
            <h4 class="card-title">Producenten</h4>
            <p class="card-text">Voor grafische produceten zijn salesdashboards, extra (reken)modules en koppelingen
                beschikbaar. Neem contact op met de platformbeheerder voor een intake.</p>
            <p class="card-text">
                <a class="mx-1 text-info" href="https://www.printdataplatform.nl/producenten" target=”_blank”>
                    Info Producenten</a>
            </p>
        </div>
    </div>
      
        </div>
  <div class="col">
      
        <div class="card h-100 border border-secondary">
        <img class="card-img-top" src="{% static "assets/img/generic/conditions.png" %}" alt="conditions">
        <div class="card-body">
            <h4 class="card-title">Spelregels</h4>
            <p class="card-text">Door gebruik te maken van het PrintDataPlatform gaan deelnemers akoord met onze
                spelregels. Lees deze goed door voor uw aanmelding.</p>
            <p class="card-text">
                <a class="mx-1 text-info" href="{% url 'conditions' %}" target=”_blank”>
                    Spelregels</a>
            </p>
        </div>
    </div>
</div>
</div>
</body>
</html>