<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upgrade accountplan</title>
</head>
<body>
<br>
<div class="col-12 col-sm-auto">
    <h3 class="mb-5"></h3><br>

        <div class="col-6 col-sm-12">
            <div class="d-flex align-items-start mb-1"><span class="me-2" data-feather="plus"
                                                             style="stroke-width:2.5;"></span>
                <h5 class="mb-0">Upgrade mogelijkheid</h5>
            </div>
            <div class="ms-4">
                <p class="text-body-secondary mb-0 fs-9">Plan: {{ upgrade_member_plan.plan_name }}<br/></p>
                <p class="text-body-secondary mb-0 fs-9">€ {{ upgrade_member_plan.plan_tariff }} per maand <br/></p>
            </div>
<br>
        </div>
                <div class="col-6 col-sm-12">
            <div class="d-flex align-items-start mb-1"><span class="me-2" data-feather="info"
                                                             style="stroke-width:2.5;"></span>
               
                <h5 class="mb-0">Meer info</h5>
            </div>
            <div class="ms-4">
                <a class="fs-9 ms-4"
                               href="{{ printdataplatform_url }}:">www.printdataplatform.nl</a>
            </div>
        </div>
    <br>

    </div>

</body>
</html>