<!DOCTYPE html>
<html lang="nl">
<head><title>head email melding</title></head>


<h2>Nieuwe opdracht {{ opdracht.klant_orderbeschrijving }} voor {{ opdracht.producent.producentnaam }}</h2>

Hallo,<br><br>

Opdracht geplaatst door {{ besteller }} van {{ klant.bedrijfsnaam }} op {{ opdracht.orderdatum }}. <br>
Bekijk de order op <a
        href="https://drukwerkmaatwerk.nl{% url 'opdracht_details_producenten' opdracht.ordernummer %}">{{ opdracht.klant_orderomschrijving }}</a>
<br>

Hiervoor moet je ingelogd zijn.<br>

<h3>Algemeen:</h3>



