{% load l10n %}
<!DOCTYPE html>
<html lang="nl">
<head><title>order email</title></head>

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;

    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

</style>
</html>
<body>

{% include 'orders/ordermail_includes/start_email_order_notice.html' %}

<h3>Algemeen:</h3>
<rows>
    <table>
        <tr>
            <th style="width: 15%">Order</th>
            <th style="width: 30%">details</th>
        </tr>
        <tr>
            <td>Opdrachtgever:</td>
            <td>{{ orderer }} van {{ member.company }} uit {{ member.city }}</td>
        <tr>
            {% if own_quotenumber %}
                <tr>
                    <td>Bestelreferentie klant :</td>
                    <td>{{ own_quotenumber }} </td>
                <tr>
            {% endif %}
        <tr>
            <td>Orderdatum:</td>
            <td>{{ order.orderdate | localize }} </td>
        <tr>
            <td>Orderwaarde:</td>
            <td> € {{ order.order_value | floatformat:2 }}</td>
            {% if order.order_morecost %}
                <tr>
                    <td>Meerkostenopgave:</td>
                    <td> € {{ order.order_morecost | floatformat:2 }}</td>
                <tr>
            {% endif %}
        <tr>
            <td>Oplage:</td>
            <td>{{ order.order_volume }} ex.</td>
        </tr>
        <tr>
            <td>Orderomschrijving :</td>
            <td>{{ order.order_description }}</td>
        </tr>
        <tr>
            <td>Offertenummer:</td>
            <td>{{ offer.offer_id }}</td>
        </tr>
        <tr>
            <td>Ordernummer:</td>
            <td>{{ order.order_id }}</td>
        </tr>
        <tr>
            <td>Offerte datum :</td>
            <td>{{ offer.offer_date }}</td>
        </tr>
    <tr>
            <td>Verwachte aanleverdatum:</td>
            <td>{% if order.printfiles_availeble %}
                {{ order.printfiles_availeble }}
            {% else %}
                Geen opgave
            {% endif %}
            </td>
        </tr>
        <tr>
            <td>Gewenste leverdatum:</td>
            <td>{% if order.delivery_date_request %}

                {{ order.delivery_date_request }}
            {% else %}
                Geen opgave
            {% endif %}
            </td>
        </tr>
        
        <tr>
            <td>Afleveradres:</td>
            <td>{{ delivery_adress }}</td>
        </tr>
    
            <tr>
            <td>Toelichting:</td>
            <td>{{ order.order_remarks }}</td>
        </tr>
    
    
        <tr>
            <td> Extra wensen:</td>
            <td> {% if opdracht.bijzonderheden_meerkosten %}
                {{ opdracht.bijzonderheden_meerkosten }}
            {% else %}
                Geen opgave
            {% endif %}
            </td>
        </tr>
        <tr>
            <td>
                <hr>
            </td>
            <td>
                <hr>
            </td>
        </tr>
    </table>
    {% if productcategory_id == 1 %}
        {% include 'orders/ordermail_includes/email_details_plano.html' %}    
    {% elif productcategory_id == 2 %}
        {% include 'orders/ordermail_includes/email_details_folders.html' %}
    {% elif productcategory_id == 3 %}
        {% include 'orders/ordermail_includes/email_details_selfcovers.html' %}
    {% elif productcategory_id == 4 %}
        {% include 'orders/ordermail_includes/email_details_brochures.html' %}
    {% elif productcategory_id == 5 %}
        {% include 'orders/ordermail_includes/email_details_brochures.html' %}
    {% endif %}
</rows>
<br><br>
</body>