{% load l10n %}
<!DOCTYPE html>
<html lang="nl">
<head><title>order email</title></head>

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;

    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

</style>
</html>
<body>

{% include 'orders/ordermail_includes/start_email_order_notice.html' %}

<h3>Algemeen:</h3>
<rows>
    <table>
        <tr>
            <th style="width: 15%">Order</th>
            <th style="width: 30%">{{ order.order_description }}</th>
        </tr>
        <tr>
            <td>Opdrachtgever:</td>
            <td>{{ requester }} van {{ member.company }} uit {{ order.city }}</td>
            {% if own_quotenumber %}
                <tr>
                <tr>
                    <td>Bestelreferentie klant :</td>
                    <td>{{ own_quotenumber }} </td>
                <tr>
                <tr>
            {% endif %}
            <td>Orderdatum:</td>
            <td>{{ order.orderdate | localize }} </td>
            </tr>
        <tr>
            <td>Offertedatum:</td>
            <td>{{ offer_date | localize }} </td>
        </tr>

        <tr>
            <td>Orderwaarde:</td>
            <td> € {{ order.order_value | floatformat:2 }}</td>
            {% if order.order_morecost %}
                <tr>
                    <td>Meerkostenopgave:</td>
                    <td> € {{ order.order_morecost | floatformat:2 }}</td>
                <tr>
            {% endif %}
        <tr>
            <td>Oplage:</td>
            <td>{{ order.order_volume }} ex.</td>
        </tr>

        <tr>
            <td>Offertenummer:</td>
            <td>{{ offer.offer_id }}</td>
        </tr>
        <tr>
            <td>Ordernummer:</td>
            <td>{{ order.order_id }}</td>
        </tr>

        <tr>
            <td>Verwachte aanleverdatum:</td>
            <td>{% if order.printfiles_availeble %}
                {{ order.printfiles_availeble }}
            {% else %}
                Geen opgave
            {% endif %}
            </td>
        </tr>
        <tr>
            <td>Gewenste leverdatum:</td>
            <td>{% if order.delivery_date_request %}

                {{ order.delivery_date_request | localize }}
            {% else %}
                Geen opgave
            {% endif %}
            </td>
        </tr>

        <tr>
            <td>Aflever adres:</td>
            <td>{{ delivery_adress }}</td>
        </tr>

        <tr>
            <td>Aflever contactpersoon:</td>
            <td>{{ delivery_contact }}</td>
        </tr>

        <tr>
            <td>Aanvullende info:</td>
            <td>{{ order.order_remarks }}</td>
        </tr>

        <tr>
            <td>
                <hr>
            </td>
            <td>
                <hr>
            </td>
        </tr>

        {% if productcategory_id in categories_brochures_all %}
            <tr>
                <td> Uitvoering :</td>
                <td>
                    <div class="kt-align-left"> {{ nmber_of_pages }}</div>
                </td>
            </tr>
        {% endif %}

        <tr>
            {% if productcategory_id in categories_brochures_cover %}
                <td>Papier binnenwerk :</td>
            {% else %}
                <td>Papier :</td>
            {% endif %}
            <td>{{ paper }}</td>
        </tr>

        {% if productcategory_id in categories_brochures_cover %}
            <tr>
                <td>Papier omslag
                <td>{{ paper_cover }}</td>
            </tr>
        {% endif %}


        <tr>
            <td>Afgewerkt formaat:</td>
            <td>{{ order_size }}</td>
        </tr>

        <tr>
            {% if productcategory_id in categories_brochures_cover %}
                <td>Bedrukking binnenwerk :</td>
            {% else %}
                <td>Bedrukking :</td>
            {% endif %}
            <td>{{ printing_booklet }}</td>
        </tr>


        {% if productcategory_id in categories_brochures_cover %}
            <tr>
                <td>Bedrukking omslag:</td>
                <td>{{ printing_cover }}</td>
            </tr>
        {% endif %}

        {% if productcategory_id in categories_plano %}
            <tr>
                <td>Bedrukking :</td>
                <td>{{ printing }}</td>
            </tr>
        {% endif %}

        {% if productcategory_id in categories_brochures_all %}
            <tr>
                <td>Nabewerking :</td>
                <td>{{ finishing }}</td>
            </tr>
        {% endif %}

        <tr>
            <td>Verpakking:</td>
            <td>{{ packaging }}</td>
        </tr>

    </table>
</rows>
<br><br>
</body>