<!DOCTYPE html>
<html lang="nl">
<head><title>Plano orderdetails email</title></head>


<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;

    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

</style>
</html>
<body>
<table>
    <tr>
        <th style="width: 15%"></th>
        <th style="width: 30%"></th>
    </tr>
    <tr>
        <td><strong>Productgoep:</strong></td>
        <td><strong>Plano drukvellen</strong></td>
    </tr>
    <tr>
        <td>Papiersoort :</td>
        <td>{{ offerte.papiergewicht }} g/m2, {{ offerte.papiersoort }}, {{ offerte.papierkleur }}</td>
    </tr>
    <tr>
        <td>Drukvel,looprichting :</td>
        <td>{{ offerte.drukvelformaat }}, {{ offerte.looprichting }}</td>
    </tr>
    <tr>
        <td>Bedrukking :</td>
        <td>{{ bedrukking_basis }}</td>
    </tr>
    <tr>
        <td>PMS kleuren (extra) :</td>
        <td>{{ pms_basis }}</td>
    </tr>
    <tr>
        <td>Persvernis :</td>
        <td>{{ persvernis_basis }}</td>
    </tr>
    <tr>
        <td>Veredeling :</td>
        <td>{{ veredeling }}</td>
    </tr>
    <tr>
        <td>Verpakking :</td>
        <td>{{ verpakking }}</td>
    </tr>
</table>
<br>
</body>