<!DOCTYPE html>
<html lang="nl">
<head><title>Selfcover order email</title></head>
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;

    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
</style>
</html>
<body>
<table>
    <tr>
        <th style="width: 15%"></th>
        <th style="width: 30%"></th>
    </tr>

    <tr>
        <td><strong>Productgoep:</strong></td>
        <td><strong>Selfcovers</strong></td>
    </tr>

    <tr>
        <td> Uitvoering :</td>
        <td>
            <div class="kt-align-left"> {{ offerte.aantal_paginas }}</div>
        </td>
    </tr>
    <tr>
        <td>Papier binnenwerk :</td>
        <td>{{ paper_booklet }}</td>
    </tr>

    <tr>
        <td>Afgewerkt formaat:</td>
        <td>{{ size }}</td>
    </tr>

    <tr>
        <td>Bedrukking :</td>
        <td>{{ printing_booklet }}</td>
    </tr>
    <tr>
        <td>Nabewerking :</td>
        <td>{{ finishing}}</td>
    </tr>
    <tr>
        <td>Verpakking:</td>
        <td>{{ packaging }}</td>
    </tr>
</table>
</body>