<!DOCTYPE html>
<html lang="nl">
<head><title>Folder orderdetails email</title></head>


<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;

    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

</style>
</html>
<body>
<table>
    <tr>
        <th style="width: 15%"></th>
        <th style="width: 30%"></th>
    </tr>
    <tr>
        <td><strong>Productgoep:</strong></td>
        <td><strong>Folders</strong></td>
    </tr>
    <tr>
        <td>Papiersoort :</td>
        <td>{{ paper }}</td>
    </tr>
    <tr>
        <td>Uitvoering :</td>
        <td>{{ description }}</td>
    </tr>
    <tr>
        <td>Afgewerkt formaat :</td>
        <td>{{ size }} mm</td>
    </tr>
    <tr>
        <td>Bedrukking :</td>
        <td>{{ printing }}</td>
    </tr>
    
    <tr>
        <td>Gevouwen :</td>
        <td>{{ finishing }}</td>
    </tr>
     <tr>
        <td>Veredeling:</td>
        <td>{{ enhance }}</td>
    </tr>
    <tr>
        <td>Verpakking:</td>
        <td>{{ packaging }}</td>
    </tr>
</table>
<br>
</body>