{% load l10n %}
<!DOCTYPE html>
<html lang="nl">
<head><title>rfq email</title></head>
{% include 'emails/email_style.html' %}

</html>
<body>
<h4>
    Hallo,<br><br>
    Op het PrintDataPlatform heeft {{ member_requester }} namens {{ member_company }}
    op {{ offer.created |date:'d-m-Y ' }} voor {{ producer.company }} een offerteaanvraag voor {{ printproject.volume }}
    ex. {{ printproject.project_title }} gedaan.<br><br>
    
    Resultaat autocalculatie: {{ result }}<br><br>
    
    Bekijk de calculatie op: <a
        href="https://printdataplatform.com/{% url 'producer_offer_details' offer.printproject_id %}">PrintDataPlatform.com/producer_offer_details</a>,
    <br><br>
    Hartelijke groet,<br>
    Richard van Hoorn
    <br>
    <a href="https://printdataplatform.com/">PrintDataPlatform BV</a>
    <br>
    mail: contact@printdataplatform.nl
    <br>
    tel: 06-55962062
</h4>
<br><br>
</body>