{% load l10n %}
<!DOCTYPE html>
<html lang="nl">
<head><title>rfq email to open producer</title></head>
{% include 'emails/email_style.html' %}

</html>
<body>
<h4>
    Hallo {{ producer.company }},<br><br>
    Op het PrintDataPlatform heeft {{ member_requester }} namens {{ member_company }}
    op {{ offer.created |date:'d-m-Y ' }} voor {{ producer.company }} een offerteaanvraag voor {{ printproject.volume }}
    ex. {{ printproject.project_title }} gedaan.<br><br>
    Bekijk en beantwoord de offerteaanvraag op: <a
        href="https://printdataplatform.com/{% url 'offer_producers_form' offer.offer_id %}">PrintDataPlatform.com/offer_producers_form</a>,
    <br>
    Open de aanvraag met deze unieke toegangscode: {{ offer_key }}
    <br><br>
    Hartelijke groet,<br>
    Richard van Hoorn
    <br>
    <a href="https://printdataplatform.nl/">PrintDataPlatform BV</a>
    <br>
    mail: contact@printdataplatform.nl
    <br>
    tel: 06-55962062
</h4>
<br><br>
</body>