<!DOCTYPE html>
{% extends 'skins/skin_open.html' %}
{% load static %}

<html lang="en">
<!-- begin::Head -->
<head>
    <meta charset="utf-8"/>
    <title> 404 - Pagina niet gevonden </title>
    <meta name="description" content="Page not found page examples">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <!--begin::Page Custom Styles(used by this page) -->
    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="{% static "vendors/popper/popper.min.js" %}"></script>
    <script src="{% static "vendors/bootstrap/bootstrap.min.js" %}"></script>
    <script src="{% static "vendors/anchorjs/anchor.min.js" %}"></script>
    <script src="{% static "vendors/is/is.min.js" %}"></script>
    <script src="{% static "vendors/fontawesome/all.min.js" %}"></script>
    <script src="{% static "vendors/lodash/lodash.min.js" %}"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script src="{% static "vendors/list.js/list.min.js" %}"></script>
    <script src="{% static "vendors/feather-icons/feather.min.js" %}"></script>
    <script src="{% static "vendors/dayjs/dayjs.min.js" %}"></script>
    <script src="{% static "assets/js/phoenix.js" %}"></script>
    <!--end::Global Theme Styles -->

    <link href="{% static "assets/img/logos/logo.png" %}"/>

</head>
{% block main_content %}
    <body>
    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->

    <main class="main" id="top">
        <div class="container-fluid px-0 bg-info-100">
            <div class="row min-vh-100 flex-center p-5">
                <div class="row justify-content-center g-5">
                    <div class="col-8 col-lg-8 text-center text-lg-start"><img
                            class="img-fluid mb-6 w-100 w-lg-150 d-dark-none border border-info rounded"
                            src="{% static "assets/img/spot-illustrations/404.jpg" %}" alt="" width="400"/>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="card border border-info">
                            <div class="card-body">
                                <h4 class="card-title text-warning">Oeps!</h4>
                                <p class="card-text">404 pagina niet gevonden<br>We gaan ernaar kijken<br><br>
                                    Neem gerust contact met ons op als er vragen zijn</p>
                                <div class="row"></div>
                                <a href="https://www.printdataplatform.nl/" target="_blank"
                                   class="btn btn-info btn-sm me-1 mb-1" role="button"
                                   aria-pressed="true">Meer info</a>
                                <a class="btn btn-info btn-sm me-1 mb-1" href="{% url 'home' %}">Home</a>
                                {% if request.user.is_authenticated %}
                                    <hr class="text-info">
                                    <p class="card-text">Het is verstandig om eerst even uit te loggen<br></p>
                                    {% include 'buttons/nav_login_out.html' %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->
    </body>
    <!-- end:: Page -->

    <!-- end::Body -->
    </html>
{% endblock %}