<!DOCTYPE html>
{% extends 'skins/skin_open.html' %}
{% load static %}
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <title>No Access</title>
</head>

<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<body>
{% block main_content %}
    <main class="main" id="top">
        <div class="container-fluid px-0 bg-info-100">
            {#        <div class="px-3">#}
            <div class="row min-vh-100 flex-center p-5">
                {#            <div class="col-12 col-xl-10 col-xxl-8">#}
                <div class="row justify-content-center g-5">
                    <div class="col-8 col-lg-8 text-center text-lg-start"><img
                            class="img-fluid mb-6 w-100 w-lg-150 d-dark-none border border-info"
                            src="{% static "assets/img/account/no_access.jpg" %}" alt="" width="400"/>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="card border border-info">
                            <div class="card-body">
                                <h4 class="card-title text-danger">Geen toegang!</h4>
                                <p class="card-text">Uw account is niet actief.<br><br>
                                    Neem gerust contact met ons op als er vragen zijn.</p>
                                <div class="row"></div>
                                <a href="https://www.printdataplatform.nl/" target="_blank"
                                   class="btn btn-info btn-sm me-1 mb-1" role="button"
                                   aria-pressed="true">Meer info</a>
                                <a class="btn btn-info btn-sm me-1 mb-1" href="{% url 'home' %}">Home</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
</body>
<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->
