<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <title>Printproject table</title>
</head>
<body>

<div class="col-12 rounded-2 border border-info">
    <div class="card h-100">
        <div class="card-body">
            <div class="table-responsive scrollbar mx-n1 px-1">
                <h3 class="mb-0 text-info">{{ printproject_table_title }}</h3>
                <hr>
                {% if printproject_list %}
                    <table class="table table-sm fs--1 mb-0">
                        <thead>
                        <tr>
                            <th class="white-space-nowrap align-middle pe-3" scope="col"
                                style="width:5%;">Details
                            </th>
                            <th class="sort white-space-nowrap align-middle pe-3" scope="col"
                                data-sort="printproject_id"
                                style="width:5%;">ID
                            </th>

                            <th class="sort align-middle text-start" scope="col" data-sort="rfq_date"
                                style="width:10%;">
                                Gestart
                            </th>
                            <th class="sort align-middle text-start pe-3" scope="col" data-sort="printprojectstatus"
                                style="width:10%; min-width: 100px;">Status
                            </th>
                            <th class="sort align-middle ps-0" scope="col" data-sort="customer" style="width:15%; ">
                                Klant
                            </th>
                            <th class="align-middle ps-0" scope="col" style="width:5%; ">Klant<BR>Ordernr</th>
                            <th class="sort align-middle text-start" scope="col" data-sort="project_title"
                                style="width:30%;">Printproject
                                
                                {% if user.member_pla_id in open_menberplans %}
                            </th>
                            <th class="align-middle text-start pe-0" scope="col" style="width:5%;">Open<br>aanbiedingen
                            </th>
                                    {% endif %}
                            
                            {% if user.member_pla_id in open_menberplans %}
                            <th class="align-middle text-start pe-0" scope="col" style="width:5%;">Offerte</th>
                            {% endif %}
                    
                        {% if user.member_pla_id in open_menberplans %}
                            <th class="align-middle text-start pe-0" scope="col" style="width:5%;">Factuur</th>
                            {% endif %}
                        
                            <th class="align-middle text-start pe-0" scope="col" style="width:5%;">Kopie</th>
                            <th class="align-middle text-start pe-0" scope="col" style="width:5%;">Verwijderen</th>
                        </tr>
                        </thead>

                        <tbody class="list" id="order-table-body">
                        {% for printproject in printproject_list %}
                            <tr class="hover-actions-trigger btn-reveal-trigger position-static">

                                <td class="align-middle white-space-nowrap task ps-0 py-0"><a
                                        href="{% url 'printproject_details' printproject.printproject_id %}"
                                        class="btn btn-outline-info btn-sm me-1 mb-1" role="button" aria-pressed="true"><i
                                        class="fas fa-info text-info fs-1"></i></a></td>
                                <td class="printproject_id align-middle white-space-nowrap py-0">{{ printproject.printproject_id }}</td>
                                <td class="rfq_date align-middle fw-semi-bold text-1000">{{ printproject.rfq_date |date:'d-m-Y ' }}</td>
                                <td class="printprojectstatus align-middle white-space-nowrap text-start fw-bold text-700">
                                    {% if printproject.printprojectstatus.printprojectstatus_id == 1 %}
                                        <span class="badge badge-phoenix fs--2 badge-phoenix-danger">
                                    {% elif printproject.printprojectstatus.printprojectstatus_id == 2 %}
                                        <span class="badge badge-phoenix fs--2 badge-phoenix-warning">
                                    {% elif printproject.printprojectstatus.printprojectstatus_id == 3 %}
                                        <span class="badge badge-phoenix fs--2 badge-phoenix-success">
                                    {% elif printproject.printprojectstatus.printprojectstatus_id == 4 %}
                                        <span class="badge badge-phoenix fs--2 badge-phoenix-info">
                                    {% endif %}
                                    <span class="badge-label">{{ printproject.printprojectstatus }}</span><span
                                        class="ms-1"
                                        style="height:12.8px;width:12.8px;"></span>
                                    </span></td>
                                
                                
                                <td class="customer align-middle white-space-nowrap ps-0"><a
                                        class="d-flex align-items-center"
                                        {% if printproject.client_id %}
                                        href="{% url 'client_details' printproject.client_id %}">    {% endif %}
                                <h6 class="mb-0 ms-0 text-900 text-start text-info">{% if printproject.client_id %}
                                    {{ printproject.client.client }}  {% else %}--{% endif %}</h6> </a></td>
                                <td class="printproject_id align-middle white-space-nowrap py-0">
                                    {% if printproject.client_quotenumber %}
                                        {{ printproject.client_quotenumber }}{% endif %}</td>

                                <td class="project_title align-middle white-space-nowrap text-900 fs--1 text-start">{{ printproject.volume }}
                                    ex. {{ printproject.project_title }}</td>

                                {% if user.member_pla_id in open_menberplans %}
                                <td class="printproject_id align-middle white-space-nowrap py-0">
                                    {% if printproject.printprojectstatus.printprojectstatus_id == 2 %}
                                        <a href="{% url 'printproject_details' printproject.printproject_id %}"></a>
                                        {{ printproject.number_of_offers }}</td>
                                    {% else %}-{% endif %}
                                {% endif  %}
                                {% if user.member_plan_id in open_memberplans %}
                                <td class="align-middle white-space-nowrap task ps-0 py-0">
                                    {% include 'buttons/download_client_offer.html' %}
                                </td>
                                {% endif %}
            
                                {% if user.member_plan_id in open_memberplans %}
                                <td class="align-middle white-space-nowrap task ps-0 py-0">
                                    {% include 'buttons/download_client_invoice.html' %}
                                </td>
                                {% endif %}
                            
                                <td class="align-middle white-space-nowrap task ps-0 py-0">
                                    {% include 'buttons/clone_printproject.html' %}
                                </td>

                                <td class="align-middle white-space-nowrap task ps-0 py-0">
                                    <a href="{% url 'printproject_delete' printproject.printproject_id %}"
                                       class="btn btn-outline-warning btn-sm me-1 mb-1" role="button"
                                       aria-pressed="true"><i class="fas fa-trash text-warning fs-1"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% comment %}END TABLE{% endcomment %}

                    </div>
                    <div class="row align-items-center justify-content-between py-2 pe-0 fs--1">
                    <div class="col-auto d-flex">
                        <p class="mb-0 d-none d-sm-block me-3 fw-semi-bold text-900"
                           data-list-info="data-list-info"></p><a
                            class="fw-semi-bold text-info" href="#!" data-list-view="*">Toon alles<span
                            class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a><a
                            class="fw-semi-bold d-none text-info" href="{{ empty_table_text }}" data-list-view="less">Toon
                        minder<span
                                class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a>
                    </div>
                    <div class="col-auto d-flex">
                        <button class="page-link" data-list-pagination="prev"><span
                                class="fas fa-chevron-left"></span>
                        </button>
                        <ul class="mb-0 pagination"></ul>
                        <button class="page-link pe-0" data-list-pagination="next"><span
                                class="fas fa-chevron-right"></span></button>
                    </div>
                {% else %}
                    {{ empty_table_text }}
                {% endif %}
                </div>
        </div>
    </div>
</div>
</body>
</html>
