<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Store</title>
</head>
<body>
<div class="row g-3 mb-4">
    <div class="col-auto">
        <h2 class="mb-0 text-info">{{ start_printproject }}</h2>
    </div>
</div>
<div class="d-flex justify-content-left">

    {% if 1 in categories_available %}
        <div class="card overflow-hidden rounded-2 border border-info" style="max-width: 20rem; margin-right:20px">
            {# Card Plano products #}

            <div class="card-img-top jhj">
                <img class="card-img-top"
                     src="{{ img_1 }}" alt="plano">
            </div>
            <div class="card-body">
                <h5 class="card-title">Plano producten</h5>
                <p class="card-text">Van visitekaartje tot poster</p>
                <a class="btn btn-soft-success px-5 px-sm-5" href="{% url 'new_printproject' 1 %}"><span
                        class="fa-solid fa-plus fs--1 me-2"></span>{{ start_project_buttontext }}</a>
            </div>
        </div>
    {% endif %}

    {# Card Folders #}
    {% if 2 in categories_available %}
        <div class="card overflow-hidden rounded-2 border border-info" style="max-width: 20rem; margin-right:20px">
            <div class="card-img-top jhj">
                <img class="card-img-top"
                     src="{{ img_2 }}" alt="folders">
            </div>
            <div class="card-body">
                <h5 class="card-title">Folders</h5>
                <p class="card-text">Gevouwen folders</p>
                <a class="btn btn-soft-success px-5 px-sm-5" href="{% url 'new_printproject' 2 %}"><span
                        class="fa-solid fa-plus fs--1 me-2"></span>{{ start_project_buttontext }}</a>
            </div>
        </div>
    {% endif %}
    {# Card Selfcovers #}
    {% if 3 in categories_available %}
        <div class="card overflow-hidden rounded-2 border border-info" style="max-width: 20rem; margin-right:20px">
            <div class="card-img-top jhj">
                <img class="card-img-top"
                     src="{{ img_3 }}" alt="selfcovers">
            </div>
            <div class="card-body">
                <h5 class="card-title">Selfcovers</h5>
                <p class="card-text">Brochures geniet zonder omslag</p>
                <a class="btn btn-soft-success px-5 px-sm-5" href="{% url 'new_printproject' 3 %}"><span
                        class="fa-solid fa-plus fs--1 me-2"></span>{{ start_project_buttontext }}</a>
            </div>
        </div>
    {% endif %}
    {# Card Folders #}
    {% if 4 in categories_available %}
        <div class="card overflow-hidden rounded-2 border border-info" style="max-width: 20rem; margin-right:20px">
            <div class="card-img-top jhj">
                     <img class="card-img-top"
                     src="{{ img_4 }}" alt="geniet in omslag">
            </div>
            <div class="card-body">
                <h5 class="card-title">Brochures</h5>
                <p class="card-text">Brochures geniet in een omslag</p>
                <a class="btn btn-soft-success px-5 px-sm-5" href="{% url 'new_printproject' 4 %}"><span
                        class="fa-solid fa-plus fs--1 me-2"></span>{{ start_project_buttontext }}</a>
            </div>
        </div>
    {% endif %}
    {# Card Folders #}
    {% if 5 in categories_available %}
        <div class="card overflow-hidden rounded-2 border border-info" style="max-width: 20rem; margin-right:20px">
            <div class="card-img-top jhj">
               <img class="card-img-top"
                     src="{{ img_5 }}" alt="Brochures met omslag">
            </div>
            <div class="card-body">
                <h5 class="card-title">Brochures</h5>
                <p class="card-text">Genaaid of garenloos gebrocheerd in omslag</p>
                <a class="btn btn-soft-success px-5 px-sm-5" href="{% url 'new_printproject' 5 %}"><span
                        class="fa-solid fa-plus fs--1 me-2"></span>{{ start_project_buttontext }}</a>
            </div>
        </div>
    {% endif %}
</div>
<hr class="text-info">
<br>
</body>
</html>